## 游냀 Manipulaci칩n de Datos
### 游녻 Desarrollado por: Nancy Borges

In [180]:
import pandas as pd 
import numpy as np
import datetime as dt

###  游늭  Exploraci칩n Inicial
*Uso de head(), tail(), info() y describe() para entender la estructura.*

In [154]:
#carga de datos
df= pd.read_csv(r'C:\Users\Outlet\Desktop\Nueva carpeta\NorthWind.csv',sep=',',header=0, index_col=False, encoding='latin-1',engine='python')

#muestra las primeras 5 filas
df.head()

,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry,CustomerID,CustomerName,CustomerAddress,CustomerCity,...,ProductID,ProductName,UnitPrice,Quantity,Discount,ExtendedPrice,Freight,Order_Date,Required_Date,Shipped_Date
0,Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,...,63,Vegie-spread,43.9,20,0.0,878.0,61.02,10/3/2017,10/31/2017,10/13/2017
1,Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,...,3,Aniseed Syrup,10.0,6,0.0,60.0,23.94,10/13/2017,11/24/2017,10/21/2017
2,Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,...,76,Lakkalik칬칬ri,18.0,15,0.0,270.0,23.94,10/13/2017,11/24/2017,10/21/2017
3,Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,...,59,Raclette Courdavault,55.0,15,0.0,825.0,69.53,1/15/2018,2/12/2018,1/21/2018
4,Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,...,28,R칬ssle Sauerkraut,45.6,2,0.0,91.2,40.42,3/16/2018,4/27/2018,3/24/2018

In [5]:
#muestra las 칰ltimas filas
df.tail()

,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry,CustomerID,CustomerName,CustomerAddress,CustomerCity,...,ProductID,ProductName,UnitPrice,Quantity,Discount,ExtendedPrice,Freight,Order_Date,Required_Date,Shipped_Date
2150,White Clover Markets,1029 - 12th Ave. S.,Seattle,WA,98124,USA,WHITC,White Clover Markets,305 - 14th Ave. S. Suite 3B,Seattle,...,38,C칪te de Blaye,263.50,25,0.0,6587.50,606.19,4/17/2018,5/15/2018,4/23/2018
2151,White Clover Markets,1029 - 12th Ave. S.,Seattle,WA,98124,USA,WHITC,White Clover Markets,305 - 14th Ave. S. Suite 3B,Seattle,...,59,Raclette Courdavault,55.00,30,0.0,1650.00,606.19,4/17/2018,5/15/2018,4/23/2018
2152,White Clover Markets,1029 - 12th Ave. S.,Seattle,WA,98124,USA,WHITC,White Clover Markets,305 - 14th Ave. S. Suite 3B,Seattle,...,16,Pavlova,17.45,3,0.0,52.35,44.72,5/1/2018,5/29/2018,5/4/2018
2153,White Clover Markets,1029 - 12th Ave. S.,Seattle,WA,98124,USA,WHITC,White Clover Markets,305 - 14th Ave. S. Suite 3B,Seattle,...,19,Teatime Chocolate Biscuits,9.20,42,0.0,386.40,44.72,5/1/2018,5/29/2018,5/4/2018
2154,White Clover Markets,1029 - 12th Ave. S.,Seattle,WA,98124,USA,WHITC,White Clover Markets,305 - 14th Ave. S. Suite 3B,Seattle,...,34,Sasquatch Ale,14.00,35,0.0,490.00,44.72,5/1/2018,5/29/2018,5/4/2018

In [6]:
#muestra la informaci칩n
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 2155 entries, 0 to 2154
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ShipName            2155 non-null   str
 1   ShipAddress         2155 non-null   str
 2   ShipCity            2155 non-null   str
 3   ShipRegion          856 non-null    str
 4   ShipPostalCode      2100 non-null   str
 5   ShipCountry         2155 non-null   str
 6   CustomerID          2155 non-null   str
 7   CustomerName        2155 non-null   str
 8   CustomerAddress     2155 non-null   str
 9   CustomerCity        2155 non-null   str
 10  CustomerPostalCode  2100 non-null   str
 11  CustomerCountry     2155 non-null   str
 12  Salesperson         2155 non-null   str
 13  OrderID             2155 non-null   int64
 14  ShipperName         2155 non-null   str
 15  ProductID           2155 non-null   int64
 16  ProductName         2155 non-null   str
 17  UnitPrice           2155 non-null   float64
 18  Quantity            2155 non-null   int64
 19  Discount            2155 non-null   float64
 20  ExtendedPrice       2155 non-null   float64
 21  Freight             2155 non-null   float64
 22  Order_Date          2155 non-null   str
 23  Required_Date       2155 non-null   str
 24  Shipped_Date        2155 non-null   str
dtypes: float64(4), int64(3), str(18)
memory usage: 820.6 KB

In [7]:
#muestra la metadata del dataFrame
df.shape

(2155, 25)

In [8]:
#muestra estad칤stica b치sica
df.describe()

,OrderID,ProductID,UnitPrice,Quantity,Discount,ExtendedPrice,Freight
count,2155.000000,2155.000000,2155.000000,2155.000000,2155.000000,2155.000000,2155.000000
mean,10659.375870,40.793039,26.218520,23.812993,0.056167,587.374970,96.197726
std,241.378032,22.159019,29.827418,19.022047,0.083450,969.224236,133.011272
min,10248.000000,1.000000,2.000000,1.000000,0.000000,4.800000,0.020000
25%,10451.000000,22.000000,12.000000,10.000000,0.000000,147.000000,19.610000
50%,10657.000000,41.000000,18.400000,20.000000,0.000000,337.750000,53.800000
75%,10862.500000,60.000000,32.000000,30.000000,0.100000,656.000000,120.920000
max,11077.000000,77.000000,263.500000,130.000000,0.250000,15810.000000,1007.640000

In [10]:
#muestra los datos
df.values

array([["Alfred's Futterkiste", 'Obere Str. 57', 'Berlin', ...,
        '10/3/2017', '10/31/2017', '10/13/2017'],
       ["Alfred's Futterkiste", 'Obere Str. 57', 'Berlin', ...,
        '10/13/2017', '11/24/2017', '10/21/2017'],
       ["Alfred's Futterkiste", 'Obere Str. 57', 'Berlin', ...,
        '10/13/2017', '11/24/2017', '10/21/2017'],
       ...,
       ['White Clover Markets', '1029 - 12th Ave. S.', 'Seattle', ...,
        '5/1/2018', '5/29/2018', '5/4/2018'],
       ['White Clover Markets', '1029 - 12th Ave. S.', 'Seattle', ...,
        '5/1/2018', '5/29/2018', '5/4/2018'],
       ['White Clover Markets', '1029 - 12th Ave. S.', 'Seattle', ...,
        '5/1/2018', '5/29/2018', '5/4/2018']],
      shape=(2155, 25), dtype=object)

In [11]:
#muestra los nombres de las columnas
df.columns

Index(['ShipName', 'ShipAddress', 'ShipCity', 'ShipRegion', 'ShipPostalCode',
       'ShipCountry', 'CustomerID', 'CustomerName', 'CustomerAddress',
       'CustomerCity', 'CustomerPostalCode', 'CustomerCountry', 'Salesperson',
       'OrderID', 'ShipperName', 'ProductID', 'ProductName', 'UnitPrice',
       'Quantity', 'Discount', 'ExtendedPrice', 'Freight', 'Order_Date',
       'Required_Date', 'Shipped_Date'],
      dtype='str')

In [12]:
#muetsra el indice
df.index

RangeIndex(start=0, stop=2155, step=1)

### 游꿢 Selecci칩n y M칠todos LOC / ILOC
*Extracci칩n de datos por etiquetas y posiciones.*

In [13]:
#selecci칩n
df['ShipCity']

0        Berlin
1        Berlin
2        Berlin
3        Berlin
4        Berlin
         ...
2150    Seattle
2151    Seattle
2152    Seattle
2153    Seattle
2154    Seattle
Name: ShipCity, Length: 2155, dtype: str

In [14]:
#validaci칩n tipo de datos
type(df['ShipCity'])

pandas.Series

In [15]:
#selecci칩n por indice
df[1:4]

,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry,CustomerID,CustomerName,CustomerAddress,CustomerCity,...,ProductID,ProductName,UnitPrice,Quantity,Discount,ExtendedPrice,Freight,Order_Date,Required_Date,Shipped_Date
1,Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,...,3,Aniseed Syrup,10.0,6,0.0,60.0,23.94,10/13/2017,11/24/2017,10/21/2017
2,Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,...,76,Lakkalik칬칬ri,18.0,15,0.0,270.0,23.94,10/13/2017,11/24/2017,10/21/2017
3,Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,...,59,Raclette Courdavault,55.0,15,0.0,825.0,69.53,1/15/2018,2/12/2018,1/21/2018

### M칠todo LOC

In [17]:
#indicar columna ndice
df1 = df.set_index('ShipName')

In [151]:
#filtrar filas por indice
df2= df1.loc['QUICK-Stop']
df2.head()

,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry,CustomerID,CustomerName,CustomerAddress,CustomerCity,CustomerPostalCode,...,ProductID,ProductName,UnitPrice,Quantity,Discount,ExtendedPrice,Freight,Order_Date,Required_Date,Shipped_Date
ShipName,,,,,,,,,,,,,,,,,,,,,
QUICK-Stop,Taucherstra른 10,Cunewalde,NaN,01307,Germany,QUICK,QUICK-Stop,Taucherstra른 10,Cunewalde,01307,...,33,Geitost,2.0,20,0.0,40.0,76.07,8/5/2016,9/2/2016,8/12/2016
QUICK-Stop,Taucherstra른 10,Cunewalde,NaN,01307,Germany,QUICK,QUICK-Stop,Taucherstra른 10,Cunewalde,01307,...,35,Steeleye Stout,14.4,100,0.0,1440.0,229.24,8/21/2016,9/18/2016,8/30/2016
QUICK-Stop,Taucherstra른 10,Cunewalde,NaN,01307,Germany,QUICK,QUICK-Stop,Taucherstra른 10,Cunewalde,01307,...,62,Tarte au sucre,39.4,40,0.0,1576.0,229.24,8/21/2016,9/18/2016,8/30/2016
QUICK-Stop,Taucherstra른 10,Cunewalde,NaN,01307,Germany,QUICK,QUICK-Stop,Taucherstra른 10,Cunewalde,01307,...,36,Inlagd Sill,15.2,12,0.0,182.4,1.96,9/24/2016,10/22/2016,10/4/2016
QUICK-Stop,Taucherstra른 10,Cunewalde,NaN,01307,Germany,QUICK,QUICK-Stop,Taucherstra른 10,Cunewalde,01307,...,8,Northwoods Cranberry Sauce,32.0,70,0.0,2240.0,249.06,11/4/2016,12/2/2016,11/11/2016

In [155]:
#seleccionar todas las filas y las columnas espec칤ficas
df3 = df.loc[:,['ShipName','ShipperName']]
df3.head()

               ShipName       ShipperName
0  Alfred's Futterkiste    United Package
1  Alfred's Futterkiste    Speedy Express
2  Alfred's Futterkiste    Speedy Express
3  Alfred's Futterkiste  Federal Shipping
4  Alfred's Futterkiste    Speedy Express

In [156]:
#reseteando el 칤ndice (drop=True elimina los indices repetidos)
df4 = df3.reset_index().sort_index()
df4.head()

   index              ShipName       ShipperName
0      0  Alfred's Futterkiste    United Package
1      1  Alfred's Futterkiste    Speedy Express
2      2  Alfred's Futterkiste    Speedy Express
3      3  Alfred's Futterkiste  Federal Shipping
4      4  Alfred's Futterkiste    Speedy Express

### M칠todo ILOC

In [157]:
#seleccionar un rango con el indice
df5 = df.iloc[1:100]
df5.head()

,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry,CustomerID,CustomerName,CustomerAddress,CustomerCity,...,ProductID,ProductName,UnitPrice,Quantity,Discount,ExtendedPrice,Freight,Order_Date,Required_Date,Shipped_Date
1,Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,...,3,Aniseed Syrup,10.0,6,0.0,60.0,23.94,10/13/2017,11/24/2017,10/21/2017
2,Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,...,76,Lakkalik칬칬ri,18.0,15,0.0,270.0,23.94,10/13/2017,11/24/2017,10/21/2017
3,Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,...,59,Raclette Courdavault,55.0,15,0.0,825.0,69.53,1/15/2018,2/12/2018,1/21/2018
4,Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,...,28,R칬ssle Sauerkraut,45.6,2,0.0,91.2,40.42,3/16/2018,4/27/2018,3/24/2018
5,Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,...,71,Flotemysost,21.5,20,0.0,430.0,1.21,4/9/2018,5/7/2018,4/13/2018

In [26]:
#selecci칩n de filas exactas
df5 = df.iloc[['100','200']]
df5

,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry,CustomerID,CustomerName,CustomerAddress,CustomerCity,...,ProductID,ProductName,UnitPrice,Quantity,Discount,ExtendedPrice,Freight,Order_Date,Required_Date,Shipped_Date
100,Lehmanns Marktstand,Magazinweg 7,Frankfurt a.M.,NaN,60528,Germany,LEHMS,Lehmanns Marktstand,Magazinweg 7,Frankfurt a.M.,...,33,Geitost,2.5,30,0.0,75.0,58.88,5/14/2017,6/11/2017,6/6/2017
200,Bon app',"12, rue des Bouchers",Marseille,NaN,13008,France,BONAP,Bon app',"12, rue des Bouchers",Marseille,...,18,Carnarvon Tigers,50.0,30,0.0,1500.0,64.56,3/11/2017,4/8/2017,3/14/2017

In [158]:
#selecci칩n de columnas por 칤ndice
df5 = df.iloc[:,[0,1]]
df5.head()

               ShipName    ShipAddress
0  Alfred's Futterkiste  Obere Str. 57
1  Alfred's Futterkiste  Obere Str. 57
2  Alfred's Futterkiste  Obere Str. 57
3  Alfred's Futterkiste  Obere Str. 57
4  Alfred's Futterkiste  Obere Str. 57

### 游빍  Filtrado y Ordenamiento
*Aplicaci칩n de operadores l칩gicos (AND/OR) y sort_values.*

In [159]:
#filtro con operadores de comparaci칩n b치sicos
df_fil_1 = df[df['ProductID']>50]
df_fil_1.head()

,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry,CustomerID,CustomerName,CustomerAddress,CustomerCity,...,ProductID,ProductName,UnitPrice,Quantity,Discount,ExtendedPrice,Freight,Order_Date,Required_Date,Shipped_Date
0,Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,...,63,Vegie-spread,43.90,20,0.0,878.0,61.02,10/3/2017,10/31/2017,10/13/2017
2,Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,...,76,Lakkalik칬칬ri,18.00,15,0.0,270.0,23.94,10/13/2017,11/24/2017,10/21/2017
3,Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,...,59,Raclette Courdavault,55.00,15,0.0,825.0,69.53,1/15/2018,2/12/2018,1/21/2018
5,Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,...,71,Flotemysost,21.50,20,0.0,430.0,1.21,4/9/2018,5/7/2018,4/13/2018
6,Blauer See Delikatessen,Forsterstr. 57,Mannheim,NaN,68306,Germany,BLAUS,Blauer See Delikatessen,Forsterstr. 57,Mannheim,...,54,Tourti칟re,7.45,20,0.0,149.0,8.85,4/9/2017,5/7/2017,4/16/2017

In [161]:
#operadores l칩gicos (and, or, bot, isin)
df_fil_2 = df[(df['ShipName']== 'LILA-Supermercado') & (df['ProductID']== 30)]
df_fil_2.head()

,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry,CustomerID,CustomerName,CustomerAddress,CustomerCity,...,ProductID,ProductName,UnitPrice,Quantity,Discount,ExtendedPrice,Freight,Order_Date,Required_Date,Shipped_Date
1401,LILA-Supermercado,Carrera 52 con Ave. Bol칤var #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela,LILAS,LILA-Supermercado,Carrera 52 con Ave. Bol칤var #65-98 Llano Largo,Barquisimeto,...,30,Nord-Ost Matjeshering,20.70,28,0.25,434.70,148.61,2/28/2017,3/28/2017,3/5/2017
1405,LILA-Supermercado,Carrera 52 con Ave. Bol칤var #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela,LILAS,LILA-Supermercado,Carrera 52 con Ave. Bol칤var #65-98 Llano Largo,Barquisimeto,...,30,Nord-Ost Matjeshering,25.89,4,0.25,77.67,12.91,5/1/2018,5/29/2018,5/14/2018

In [162]:
df_fil_3 = df[df['ShipName'].isin(['LILA-Supermercado','Familia Arquibaldo'])]
df_fil_3.head()

,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry,CustomerID,CustomerName,CustomerAddress,CustomerCity,...,ProductID,ProductName,UnitPrice,Quantity,Discount,ExtendedPrice,Freight,Order_Date,Required_Date,Shipped_Date
1388,LILA-Supermercado,Carrera 52 con Ave. Bol칤var #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela,LILAS,LILA-Supermercado,Carrera 52 con Ave. Bol칤var #65-98 Llano Largo,Barquisimeto,...,7,Uncle Bob's Organic Dried Pears,30.0,15,0.05,427.5,0.93,5/5/2018,6/2/2018,5/14/2018
1389,LILA-Supermercado,Carrera 52 con Ave. Bol칤var #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela,LILAS,LILA-Supermercado,Carrera 52 con Ave. Bol칤var #65-98 Llano Largo,Barquisimeto,...,13,Konbu,6.0,10,0.05,57.0,0.93,5/5/2018,6/2/2018,5/14/2018
1390,LILA-Supermercado,Carrera 52 con Ave. Bol칤var #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela,LILAS,LILA-Supermercado,Carrera 52 con Ave. Bol칤var #65-98 Llano Largo,Barquisimeto,...,11,Queso Cabrales,21.0,20,0.10,378.0,163.97,1/9/2018,2/6/2018,1/13/2018
1391,LILA-Supermercado,Carrera 52 con Ave. Bol칤var #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela,LILAS,LILA-Supermercado,Carrera 52 con Ave. Bol칤var #65-98 Llano Largo,Barquisimeto,...,59,Raclette Courdavault,55.0,40,0.10,1980.0,163.97,1/9/2018,2/6/2018,1/13/2018
1392,LILA-Supermercado,Carrera 52 con Ave. Bol칤var #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela,LILAS,LILA-Supermercado,Carrera 52 con Ave. Bol칤var #65-98 Llano Largo,Barquisimeto,...,77,Original Frankfurter gr칲ne So른,13.0,15,0.10,175.5,163.97,1/9/2018,2/6/2018,1/13/2018

In [163]:
#### np.logical_and, np.logical_or, np.logical_not
df_fil_4 = df[np.logical_and(df['ProductID']>=50, df['ProductID']<=60)]
df_fil_4.head()

,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry,CustomerID,CustomerName,CustomerAddress,CustomerCity,...,ProductID,ProductName,UnitPrice,Quantity,Discount,ExtendedPrice,Freight,Order_Date,Required_Date,Shipped_Date
3,Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,...,59,Raclette Courdavault,55.00,15,0.0,825.0,69.53,1/15/2018,2/12/2018,1/21/2018
6,Blauer See Delikatessen,Forsterstr. 57,Mannheim,NaN,68306,Germany,BLAUS,Blauer See Delikatessen,Forsterstr. 57,Mannheim,...,54,Tourti칟re,7.45,20,0.0,149.0,8.85,4/9/2017,5/7/2017,4/16/2017
8,Blauer See Delikatessen,Forsterstr. 57,Mannheim,NaN,68306,Germany,BLAUS,Blauer See Delikatessen,Forsterstr. 57,Mannheim,...,57,Ravioli Angelo,19.50,4,0.0,78.0,27.71,6/27/2017,7/25/2017,7/14/2017
16,Blauer See Delikatessen,Forsterstr. 57,Mannheim,NaN,68306,Germany,BLAUS,Blauer See Delikatessen,Forsterstr. 57,Mannheim,...,51,Manjimup Dried Apples,53.00,8,0.0,424.0,44.65,3/17/2018,4/28/2018,3/20/2018
18,Blauer See Delikatessen,Forsterstr. 57,Mannheim,NaN,68306,Germany,BLAUS,Blauer See Delikatessen,Forsterstr. 57,Mannheim,...,60,Camembert Pierrot,34.00,21,0.0,714.0,31.14,4/29/2018,5/27/2018,5/14/2018

### Ordenar el DataFrame

In [164]:
#ordenar por multiples columnas, descendente y ascendente
sort= df.sort_values(['ProductID','OrderID'], ascending=[False,True])
sort.head()

,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry,CustomerID,CustomerName,CustomerAddress,CustomerCity,...,ProductID,ProductName,UnitPrice,Quantity,Discount,ExtendedPrice,Freight,Order_Date,Required_Date,Shipped_Date
1781,Wellington Importadora,"Rua do Mercado, 12",Resende,SP,08737-363,Brazil,WELLI,Wellington Importadora,"Rua do Mercado, 12",Resende,...,77,Original Frankfurter gr칲ne So른,10.4,12,0.0,124.8,13.97,7/15/2016,8/12/2016,7/17/2016
1792,HILARION-Abastos,Carrera 22 con Ave. Carlos Soublette #8-35,San Crist칩bal,T치chira,5022,Venezuela,HILAA,HILARION-Abastos,Carrera 22 con Ave. Carlos Soublette #8-35,San Crist칩bal,...,77,Original Frankfurter gr칲ne So른,10.4,15,0.0,156.0,81.91,7/16/2016,8/13/2016,7/22/2016
1681,Com칠rcio Mineiro,"Av. dos Lus칤adas, 23",Sao Paulo,SP,05432-043,Brazil,COMMI,Com칠rcio Mineiro,"Av. dos Lus칤adas, 23",Sao Paulo,...,77,Original Frankfurter gr칲ne So른,10.4,10,0.0,104.0,79.70,8/27/2016,9/24/2016,9/3/2016
698,Galer칤a del gastron칩mo,"Rambla de Catalu침a, 23",Barcelona,NaN,8022,Spain,GALED,Galer칤a del gastr칩nomo,"Rambla de Catalu침a, 23",Barcelona,...,77,Original Frankfurter gr칲ne So른,10.4,5,0.0,52.0,10.14,11/28/2016,1/9/2017,12/30/2016
582,Vaffeljernet,Smagsloget 45,칀rhus,NaN,8200,Denmark,VAFFE,Vaffeljernet,Smagsloget 45,칀rhus,...,77,Original Frankfurter gr칲ne So른,10.4,7,0.0,72.8,13.55,11/28/2016,12/26/2016,12/2/2016

In [165]:
#order datos en el indice
sort_1 = df.set_index('ShipName').sort_index()
sort_1.head()

,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry,CustomerID,CustomerName,CustomerAddress,CustomerCity,CustomerPostalCode,...,ProductID,ProductName,UnitPrice,Quantity,Discount,ExtendedPrice,Freight,Order_Date,Required_Date,Shipped_Date
ShipName,,,,,,,,,,,,,,,,,,,,,
Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,12209,...,63,Vegie-spread,43.9,20,0.0,878.0,61.02,10/3/2017,10/31/2017,10/13/2017
Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,12209,...,3,Aniseed Syrup,10.0,6,0.0,60.0,23.94,10/13/2017,11/24/2017,10/21/2017
Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,12209,...,76,Lakkalik칬칬ri,18.0,15,0.0,270.0,23.94,10/13/2017,11/24/2017,10/21/2017
Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,12209,...,59,Raclette Courdavault,55.0,15,0.0,825.0,69.53,1/15/2018,2/12/2018,1/21/2018
Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,12209,...,28,R칬ssle Sauerkraut,45.6,2,0.0,91.2,40.42,3/16/2018,4/27/2018,3/24/2018

#### 游빞 Limpieza de Nulos

In [50]:
#visualizar cuales columnas tienen valores nulos
df.isna().any()

ShipName              False
ShipAddress           False
ShipCity              False
ShipRegion             True
ShipPostalCode         True
ShipCountry           False
CustomerID            False
CustomerName          False
CustomerAddress       False
CustomerCity          False
CustomerPostalCode     True
CustomerCountry       False
Salesperson           False
OrderID               False
ShipperName           False
ProductID             False
ProductName           False
UnitPrice             False
Quantity              False
Discount              False
ExtendedPrice         False
Freight               False
Order_Date            False
Required_Date         False
Shipped_Date          False
dtype: bool

In [51]:
#contando la cantidad de valores vacios
df.isnull().sum()

ShipName                 0
ShipAddress              0
ShipCity                 0
ShipRegion            1299
ShipPostalCode          55
ShipCountry              0
CustomerID               0
CustomerName             0
CustomerAddress          0
CustomerCity             0
CustomerPostalCode      55
CustomerCountry          0
Salesperson              0
OrderID                  0
ShipperName              0
ProductID                0
ProductName              0
UnitPrice                0
Quantity                 0
Discount                 0
ExtendedPrice            0
Freight                  0
Order_Date               0
Required_Date            0
Shipped_Date             0
dtype: int64

In [166]:
#eliminar elementos vacios
df_nul = df.dropna()
df_nul.head()

,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry,CustomerID,CustomerName,CustomerAddress,CustomerCity,...,ProductID,ProductName,UnitPrice,Quantity,Discount,ExtendedPrice,Freight,Order_Date,Required_Date,Shipped_Date
1299,Around the Horn,Brook Farm Stratford St. Mary,Colchester,Essex,CO7 6JX,UK,AROUT,Around the Horn,120 Hanover Sq.,London,...,24,Guaran치 Fant치stica,3.6,25,0.0,90.0,41.95,11/15/2016,12/13/2016,11/20/2016
1300,Around the Horn,Brook Farm Stratford St. Mary,Colchester,Essex,CO7 6JX,UK,AROUT,Around the Horn,120 Hanover Sq.,London,...,57,Ravioli Angelo,15.6,25,0.0,390.0,41.95,11/15/2016,12/13/2016,11/20/2016
1301,Around the Horn,Brook Farm Stratford St. Mary,Colchester,Essex,CO7 6JX,UK,AROUT,Around the Horn,120 Hanover Sq.,London,...,13,Konbu,4.8,20,0.0,96.0,34.24,12/16/2016,1/13/2017,12/18/2016
1302,Around the Horn,Brook Farm Stratford St. Mary,Colchester,Essex,CO7 6JX,UK,AROUT,Around the Horn,120 Hanover Sq.,London,...,50,Valkoinen suklaa,13.0,15,0.0,195.0,34.24,12/16/2016,1/13/2017,12/18/2016
1303,Around the Horn,Brook Farm Stratford St. Mary,Colchester,Essex,CO7 6JX,UK,AROUT,Around the Horn,120 Hanover Sq.,London,...,56,Gnocchi di nonna Alice,30.4,20,0.0,608.0,34.24,12/16/2016,1/13/2017,12/18/2016

In [167]:
#reemplazar valores vacios con 0
df_0 = df.fillna(0)
df_0.head()

,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry,CustomerID,CustomerName,CustomerAddress,CustomerCity,...,ProductID,ProductName,UnitPrice,Quantity,Discount,ExtendedPrice,Freight,Order_Date,Required_Date,Shipped_Date
0,Alfred's Futterkiste,Obere Str. 57,Berlin,0,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,...,63,Vegie-spread,43.9,20,0.0,878.0,61.02,10/3/2017,10/31/2017,10/13/2017
1,Alfred's Futterkiste,Obere Str. 57,Berlin,0,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,...,3,Aniseed Syrup,10.0,6,0.0,60.0,23.94,10/13/2017,11/24/2017,10/21/2017
2,Alfred's Futterkiste,Obere Str. 57,Berlin,0,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,...,76,Lakkalik칬칬ri,18.0,15,0.0,270.0,23.94,10/13/2017,11/24/2017,10/21/2017
3,Alfred's Futterkiste,Obere Str. 57,Berlin,0,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,...,59,Raclette Courdavault,55.0,15,0.0,825.0,69.53,1/15/2018,2/12/2018,1/21/2018
4,Alfred's Futterkiste,Obere Str. 57,Berlin,0,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,...,28,R칬ssle Sauerkraut,45.6,2,0.0,91.2,40.42,3/16/2018,4/27/2018,3/24/2018

In [168]:
#reemplazamos 0 a nulos
df_0.replace(0,np.nan, inplace=True)
df_0.head()

,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry,CustomerID,CustomerName,CustomerAddress,CustomerCity,...,ProductID,ProductName,UnitPrice,Quantity,Discount,ExtendedPrice,Freight,Order_Date,Required_Date,Shipped_Date
0,Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,...,63,Vegie-spread,43.9,20,NaN,878.0,61.02,10/3/2017,10/31/2017,10/13/2017
1,Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,...,3,Aniseed Syrup,10.0,6,NaN,60.0,23.94,10/13/2017,11/24/2017,10/21/2017
2,Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,...,76,Lakkalik칬칬ri,18.0,15,NaN,270.0,23.94,10/13/2017,11/24/2017,10/21/2017
3,Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,...,59,Raclette Courdavault,55.0,15,NaN,825.0,69.53,1/15/2018,2/12/2018,1/21/2018
4,Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,...,28,R칬ssle Sauerkraut,45.6,2,NaN,91.2,40.42,3/16/2018,4/27/2018,3/24/2018

### 游늵 Agrupaci칩n de Datos

In [59]:
#agrupaci칩n b치sico con una variable y su agregaci칩n
df_group = df.groupby('ShipName')['Quantity'].mean()
df_group

ShipName
Alfred's Futterkiste                  15.111111
Alfreds Futterkiste                   12.666667
Ana Trujillo Emparedados y helados     6.300000
Antonio Moreno Taquer칤a               21.117647
Around the Horn                       21.666667
                                        ...
Wartian Herkku                        19.918919
Wellington Importadora                14.052632
White Clover Markets                  26.575000
Wilman Kala                            8.705882
Wolski Zajazd                         12.812500
Name: Quantity, Length: 90, dtype: float64

In [169]:
#diferentes funciones de agregaci칩n  median(), value_counts(normalize = True)
df_group1 = df.groupby('ShipName')['Quantity'].agg([min,max,sum,np.mean])
df_group1.head()

                                    min  max  sum       mean
ShipName
Alfred's Futterkiste                  2   40  136  15.111111
Alfreds Futterkiste                   2   21   38  12.666667
Ana Trujillo Emparedados y helados    1   10   63   6.300000
Antonio Moreno Taquer칤a               4   50  359  21.117647
Around the Horn                       3   50  650  21.666667

### 游댃 Tablas Din치micas (Pivot Tables)

In [171]:
#agregar una nueva columna calculada
df['SalesAmount']= df['Quantity'] *  df['UnitPrice']

#creando la tabla din치mica
pivot_table = df.pivot_table(
    'SalesAmount', index= 'ShipCountry', columns= 'ShipperName',
    aggfunc=[np.median,np.sum])
pivot_table.head()

                      median                                            sum  \
ShipperName Federal Shipping Speedy Express United Package Federal Shipping
ShipCountry
Argentina              155.0          186.6          180.0          1210.30
Austria                650.0          600.0          651.0         46566.45
Belgium                456.0          477.4          420.0         11592.80
Brazil                 340.0          285.0          341.0         17434.92
Canada                 315.0          600.0          496.0         20605.50


ShipperName Speedy Express United Package
ShipCountry
Argentina          1816.20        5092.60
Austria           45125.33       47804.85
Belgium            5370.18       18172.00
Brazil            38308.33       59225.23
Canada             5777.80       28950.80

In [172]:
#rellenar los valores vac칤os y agregar los totales
pivot_table1 = df.pivot_table(
    'SalesAmount', index= 'ShipCountry', columns= 'ShipperName',
    aggfunc=[np.median,np.sum],fill_value=0, margins= True)
pivot_table1.head()

                      median                                       \
ShipperName Federal Shipping Speedy Express United Package    All
ShipCountry
Argentina              155.0          186.6          180.0  180.0
Austria                650.0          600.0          651.0  650.0
Belgium                456.0          477.4          420.0  450.0
Brazil                 340.0          285.0          341.0  315.0
Canada                 315.0          600.0          496.0  396.8

                         sum
ShipperName Federal Shipping Speedy Express United Package        All
ShipCountry
Argentina            1210.30        1816.20        5092.60    8119.10
Austria             46566.45       45125.33       47804.85  139496.63
Belgium             11592.80        5370.18       18172.00   35134.98
Brazil              17434.92       38308.33       59225.23  114968.48
Canada              20605.50        5777.80       28950.80   55334.10

### 游늰 Trabajo con Fechas (Time Series)
### 丘뙖잺 Conversi칩n y Extracci칩n de Tiempo

In [173]:

dft= pd.read_csv(r'C:\Users\Outlet\Desktop\Nueva carpeta\BDTienda.csv',sep=',',header=0, index_col=False, encoding='latin-1',engine='python')
dft.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,42433,AG-2011-2040,1/1/2011,6/1/2011,Standard Class,TB-11280,Toby Braunhardt,Consumer,Constantine,Constantine,...,OFF-TEN-10000025,Office Supplies,Storage,"Tenex Lockers, Blue",408.300,2,0.0,106.140,35.46,Medium
1,22253,IN-2011-47883,1/1/2011,8/1/2011,Standard Class,JH-15985,Joseph Holt,Consumer,Wagga Wagga,New South Wales,...,OFF-SU-10000618,Office Supplies,Supplies,"Acme Trimmer, High Speed",120.366,3,0.1,36.036,9.72,Medium
2,48883,HU-2011-1220,1/1/2011,5/1/2011,Second Class,AT-735,Annie Thurman,Consumer,Budapest,Budapest,...,OFF-TEN-10001585,Office Supplies,Storage,"Tenex Box, Single Width",66.120,4,0.0,29.640,8.17,High
3,11731,IT-2011-3647632,1/1/2011,5/1/2011,Second Class,EM-14140,Eugene Moren,Home Office,Stockholm,Stockholm,...,OFF-PA-10001492,Office Supplies,Paper,"Enermax Note Cards, Premium",44.865,3,0.5,-26.055,4.82,High
4,22255,IN-2011-47883,1/1/2011,8/1/2011,Standard Class,JH-15985,Joseph Holt,Consumer,Wagga Wagga,New South Wales,...,FUR-FU-10003447,Furniture,Furnishings,"Eldon Light Bulb, Duo Pack",113.670,5,0.1,37.770,4.70,Medium

In [175]:
#especificar columna como fecha

dft['Order Date'] = pd.to_datetime(dft['Order Date'], dayfirst=True, errors='coerce')
dft['Ship Date'] = pd.to_datetime(dft['Ship Date'], dayfirst=True, errors='coerce')

print(dft[['Order Date', 'Ship Date']].head())

  Order Date  Ship Date
0 2011-01-01 2011-01-06
1 2011-01-01 2011-01-08
2 2011-01-01 2011-01-05
3 2011-01-01 2011-01-05
4 2011-01-01 2011-01-08

In [176]:
#personalizar formato de fecha
dft['Order_date'] = dft['Order Date'].dt.strftime('%d-%m-%Y')
dft.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,Order_date
0,42433,AG-2011-2040,2011-01-01,2011-01-06,Standard Class,TB-11280,Toby Braunhardt,Consumer,Constantine,Constantine,...,Office Supplies,Storage,"Tenex Lockers, Blue",408.300,2,0.0,106.140,35.46,Medium,01-01-2011
1,22253,IN-2011-47883,2011-01-01,2011-01-08,Standard Class,JH-15985,Joseph Holt,Consumer,Wagga Wagga,New South Wales,...,Office Supplies,Supplies,"Acme Trimmer, High Speed",120.366,3,0.1,36.036,9.72,Medium,01-01-2011
2,48883,HU-2011-1220,2011-01-01,2011-01-05,Second Class,AT-735,Annie Thurman,Consumer,Budapest,Budapest,...,Office Supplies,Storage,"Tenex Box, Single Width",66.120,4,0.0,29.640,8.17,High,01-01-2011
3,11731,IT-2011-3647632,2011-01-01,2011-01-05,Second Class,EM-14140,Eugene Moren,Home Office,Stockholm,Stockholm,...,Office Supplies,Paper,"Enermax Note Cards, Premium",44.865,3,0.5,-26.055,4.82,High,01-01-2011
4,22255,IN-2011-47883,2011-01-01,2011-01-08,Standard Class,JH-15985,Joseph Holt,Consumer,Wagga Wagga,New South Wales,...,Furniture,Furnishings,"Eldon Light Bulb, Duo Pack",113.670,5,0.1,37.770,4.70,Medium,01-01-2011

### 游딉勇 An치lisis de Tendencia Temporal
*Se realiza un remuestreo (resample) de los datos para analizar el promedio de ventas mensual.*

In [91]:
#agrupar por fecha
dft.resample('ME', on='Ship Date')['Sales'].mean()

Ship Date
2011-01-31    299.744098
2011-02-28    201.074138
2011-03-31    242.060762
2011-04-30    221.290312
2011-05-31    216.135187
2011-06-30    261.364082
2011-07-31    211.093045
2011-08-31    220.232526
2011-09-30    288.716858
2011-10-31    253.824563
2011-11-30    270.258058
2011-12-31    241.491636
2012-01-31    214.424670
2012-02-29    271.907393
2012-03-31    246.808989
2012-04-30    209.978539
2012-05-31    230.430297
2012-06-30    218.675591
2012-07-31    236.799975
2012-08-31    270.621560
2012-09-30    257.495327
2012-10-31    251.648860
2012-11-30    233.038179
2012-12-31    254.904948
2013-01-31    285.488618
2013-02-28    288.837431
2013-03-31    309.381249
2013-04-30    227.465380
2013-05-31    222.692351
2013-06-30    281.857200
2013-07-31    267.072241
2013-08-31    210.101252
2013-09-30    210.542007
2013-10-31    284.447682
2013-11-30    210.385727
2013-12-31    266.510325
2014-01-31    269.051937
2014-02-28    249.524935
2014-03-31    188.925883
2014-04-30    224.995974
2014-05-31    211.872688
2014-06-30    234.883468
2014-07-31    245.121249
2014-08-31    270.983954
2014-09-30    241.557776
2014-10-31    241.227414
2014-11-30    233.020433
2014-12-31    242.579066
2015-01-31    210.272081
Name: Sales, dtype: float64

In [177]:
#extrayendo datos a partir de fechas
#nombre del d칤a
dft['dia'] = pd.to_datetime(dft['Ship Date']).dt.day_name()

#a침o
dft['anio'] = pd.to_datetime(dft['Ship Date']).dt.year

#mes
dft['mes'] = pd.to_datetime(dft['Ship Date']).dt.month_name()

dft.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,Order_date,dia,anio,mes
0,42433,AG-2011-2040,2011-01-01,2011-01-06,Standard Class,TB-11280,Toby Braunhardt,Consumer,Constantine,Constantine,...,408.300,2,0.0,106.140,35.46,Medium,01-01-2011,Thursday,2011.0,January
1,22253,IN-2011-47883,2011-01-01,2011-01-08,Standard Class,JH-15985,Joseph Holt,Consumer,Wagga Wagga,New South Wales,...,120.366,3,0.1,36.036,9.72,Medium,01-01-2011,Saturday,2011.0,January
2,48883,HU-2011-1220,2011-01-01,2011-01-05,Second Class,AT-735,Annie Thurman,Consumer,Budapest,Budapest,...,66.120,4,0.0,29.640,8.17,High,01-01-2011,Wednesday,2011.0,January
3,11731,IT-2011-3647632,2011-01-01,2011-01-05,Second Class,EM-14140,Eugene Moren,Home Office,Stockholm,Stockholm,...,44.865,3,0.5,-26.055,4.82,High,01-01-2011,Wednesday,2011.0,January
4,22255,IN-2011-47883,2011-01-01,2011-01-08,Standard Class,JH-15985,Joseph Holt,Consumer,Wagga Wagga,New South Wales,...,113.670,5,0.1,37.770,4.70,Medium,01-01-2011,Saturday,2011.0,January

### 游댕  Uniones-Concat

In [103]:
ap1= pd.read_csv(r'C:\Users\Outlet\Desktop\Nueva carpeta\vta_2013.csv',sep=',',header=0, index_col=False, encoding='latin-1',engine='python')
ap2= pd.read_csv(r'C:\Users\Outlet\Desktop\Nueva carpeta\vta_2014.csv',sep=',',header=0, index_col=False, encoding='latin-1',engine='python')

In [178]:
#concatenar a nivel fila
ap3 = pd.concat([ap1, ap2],ignore_index =True, axis=0)
ap3.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,22265,ID-2013-37383,1/1/2013,4/1/2013,First Class,MY-18295,Muhammed Yedwab,Corporate,Albury,New South Wales,...,TEC-CO-10002379,Technology,Copiers,"Canon Copy Machine, Digital",1649.214,7,0.1,36.624,178.71,Medium
1,22618,IN-2013-47960,1/1/2013,6/1/2013,Standard Class,JE-15715,Joe Elijah,Consumer,Tianjin,Tianjin,...,FUR-BO-10003549,Furniture,Bookcases,"Sauder Floating Shelf Set, Metal",1358.280,7,0.0,203.700,155.15,Medium
2,22268,ID-2013-37383,1/1/2013,4/1/2013,First Class,MY-18295,Muhammed Yedwab,Corporate,Albury,New South Wales,...,TEC-AC-10001500,Technology,Accessories,"Logitech Memory Card, Erganomic",728.568,8,0.1,-32.472,143.97,Medium
3,22615,IN-2013-47960,1/1/2013,6/1/2013,Standard Class,JE-15715,Joe Elijah,Consumer,Tianjin,Tianjin,...,FUR-BO-10004541,Furniture,Bookcases,"Dania Library with Doors, Mobile",2189.520,6,0.0,372.060,102.05,Medium
4,22617,IN-2013-47960,1/1/2013,6/1/2013,Standard Class,JE-15715,Joe Elijah,Consumer,Tianjin,Tianjin,...,FUR-BO-10003661,Furniture,Bookcases,"Sauder Floating Shelf Set, Traditional",1362.060,7,0.0,340.410,90.86,Medium

### 游빏  Tipos de Datos y Cambio de Tipos de Datos (Coerci칩n)

In [124]:
ap3.dtypes

Row ID              int64
Order ID              str
Order Date            str
Ship Date             str
Ship Mode             str
Customer ID           str
Customer Name         str
Segment               str
City                  str
State                 str
Country               str
Postal Code       float64
Market                str
Region                str
Product ID            str
Category              str
Sub-Category          str
Product Name          str
Sales             float64
Quantity            int64
Discount          float64
Profit            float64
Shipping Cost     float64
Order Priority        str
dtype: object

In [138]:
#cambiar formato fecha
ap3['Order Date'] = pd.to_datetime(ap3['Order Date'], dayfirst=True,format='mixed')
ap3['Ship Date'] = pd.to_datetime(ap3['Ship Date'], dayfirst=True,format='mixed')

#cambiar a texto para que no tenga decimales
ap3['Postal Code'] = ap3['Postal Code'].astype(str)

print(ap3.dtypes)

Row ID                     int64
Order ID                     str
Order Date        datetime64[us]
Ship Date         datetime64[us]
Ship Mode                    str
Customer ID                  str
Customer Name                str
Segment                      str
City                         str
State                        str
Country                      str
Postal Code                  str
Market                       str
Region                       str
Product ID                   str
Category                     str
Sub-Category                 str
Product Name                 str
Sales                    float64
Quantity                   int64
Discount                 float64
Profit                   float64
Shipping Cost            float64
Order Priority               str
dtype: object

### 游놆  Eliminaci칩n de Duplicados

In [146]:
#ver si hay duplicados
print("Cantidad de filas repetidas:")
print(ap3.duplicated().sum())

Cantidad de filas repetidas:
0

### 九꽲잺 Limpieza de Espacios

In [150]:
#corregir espacios en blanco
dft['Customer Name'] = dft['Customer Name'].str.strip()