## Manipulación de Datos
### Desarrollado por: Nancy Borges

In [65]:
import pandas as pd
import numpy as np
import datetime as dt

### Explorando dataset

In [4]:
#carga de datos
df= pd.read_csv(r'C:\Users\Outlet\Desktop\Nueva carpeta\NorthWind.csv',sep=',',header=0, index_col=False, encoding='latin-1',engine='python')

#muestra las primeras 5 filas
df.head()

,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry,CustomerID,CustomerName,CustomerAddress,CustomerCity,...,ProductID,ProductName,UnitPrice,Quantity,Discount,ExtendedPrice,Freight,Order_Date,Required_Date,Shipped_Date
0,Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,...,63,Vegie-spread,43.9,20,0.0,878.0,61.02,10/3/2017,10/31/2017,10/13/2017
1,Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,...,3,Aniseed Syrup,10.0,6,0.0,60.0,23.94,10/13/2017,11/24/2017,10/21/2017
2,Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,...,76,Lakkalikööri,18.0,15,0.0,270.0,23.94,10/13/2017,11/24/2017,10/21/2017
3,Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,...,59,Raclette Courdavault,55.0,15,0.0,825.0,69.53,1/15/2018,2/12/2018,1/21/2018
4,Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,...,28,Rössle Sauerkraut,45.6,2,0.0,91.2,40.42,3/16/2018,4/27/2018,3/24/2018

In [5]:
#muestra las últimas filas
df.tail()

,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry,CustomerID,CustomerName,CustomerAddress,CustomerCity,...,ProductID,ProductName,UnitPrice,Quantity,Discount,ExtendedPrice,Freight,Order_Date,Required_Date,Shipped_Date
2150,White Clover Markets,1029 - 12th Ave. S.,Seattle,WA,98124,USA,WHITC,White Clover Markets,305 - 14th Ave. S. Suite 3B,Seattle,...,38,Côte de Blaye,263.50,25,0.0,6587.50,606.19,4/17/2018,5/15/2018,4/23/2018
2151,White Clover Markets,1029 - 12th Ave. S.,Seattle,WA,98124,USA,WHITC,White Clover Markets,305 - 14th Ave. S. Suite 3B,Seattle,...,59,Raclette Courdavault,55.00,30,0.0,1650.00,606.19,4/17/2018,5/15/2018,4/23/2018
2152,White Clover Markets,1029 - 12th Ave. S.,Seattle,WA,98124,USA,WHITC,White Clover Markets,305 - 14th Ave. S. Suite 3B,Seattle,...,16,Pavlova,17.45,3,0.0,52.35,44.72,5/1/2018,5/29/2018,5/4/2018
2153,White Clover Markets,1029 - 12th Ave. S.,Seattle,WA,98124,USA,WHITC,White Clover Markets,305 - 14th Ave. S. Suite 3B,Seattle,...,19,Teatime Chocolate Biscuits,9.20,42,0.0,386.40,44.72,5/1/2018,5/29/2018,5/4/2018
2154,White Clover Markets,1029 - 12th Ave. S.,Seattle,WA,98124,USA,WHITC,White Clover Markets,305 - 14th Ave. S. Suite 3B,Seattle,...,34,Sasquatch Ale,14.00,35,0.0,490.00,44.72,5/1/2018,5/29/2018,5/4/2018

In [6]:
#muestra la información
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 2155 entries, 0 to 2154
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ShipName            2155 non-null   str
 1   ShipAddress         2155 non-null   str
 2   ShipCity            2155 non-null   str
 3   ShipRegion          856 non-null    str
 4   ShipPostalCode      2100 non-null   str
 5   ShipCountry         2155 non-null   str
 6   CustomerID          2155 non-null   str
 7   CustomerName        2155 non-null   str
 8   CustomerAddress     2155 non-null   str
 9   CustomerCity        2155 non-null   str
 10  CustomerPostalCode  2100 non-null   str
 11  CustomerCountry     2155 non-null   str
 12  Salesperson         2155 non-null   str
 13  OrderID             2155 non-null   int64
 14  ShipperName         2155 non-null   str
 15  ProductID           2155 non-null   int64
 16  ProductName         2155 non-null   str
 17  UnitPrice           2155 non-null   float64
 18  Quantity            2155 non-null   int64
 19  Discount            2155 non-null   float64
 20  ExtendedPrice       2155 non-null   float64
 21  Freight             2155 non-null   float64
 22  Order_Date          2155 non-null   str
 23  Required_Date       2155 non-null   str
 24  Shipped_Date        2155 non-null   str
dtypes: float64(4), int64(3), str(18)
memory usage: 820.6 KB

In [7]:
#muestra la metadata del dataFrame
df.shape

(2155, 25)

In [8]:
#muestra estadística básica
df.describe()

,OrderID,ProductID,UnitPrice,Quantity,Discount,ExtendedPrice,Freight
count,2155.000000,2155.000000,2155.000000,2155.000000,2155.000000,2155.000000,2155.000000
mean,10659.375870,40.793039,26.218520,23.812993,0.056167,587.374970,96.197726
std,241.378032,22.159019,29.827418,19.022047,0.083450,969.224236,133.011272
min,10248.000000,1.000000,2.000000,1.000000,0.000000,4.800000,0.020000
25%,10451.000000,22.000000,12.000000,10.000000,0.000000,147.000000,19.610000
50%,10657.000000,41.000000,18.400000,20.000000,0.000000,337.750000,53.800000
75%,10862.500000,60.000000,32.000000,30.000000,0.100000,656.000000,120.920000
max,11077.000000,77.000000,263.500000,130.000000,0.250000,15810.000000,1007.640000

In [10]:
#muestra los datos
df.values

array([["Alfred's Futterkiste", 'Obere Str. 57', 'Berlin', ...,
        '10/3/2017', '10/31/2017', '10/13/2017'],
       ["Alfred's Futterkiste", 'Obere Str. 57', 'Berlin', ...,
        '10/13/2017', '11/24/2017', '10/21/2017'],
       ["Alfred's Futterkiste", 'Obere Str. 57', 'Berlin', ...,
        '10/13/2017', '11/24/2017', '10/21/2017'],
       ...,
       ['White Clover Markets', '1029 - 12th Ave. S.', 'Seattle', ...,
        '5/1/2018', '5/29/2018', '5/4/2018'],
       ['White Clover Markets', '1029 - 12th Ave. S.', 'Seattle', ...,
        '5/1/2018', '5/29/2018', '5/4/2018'],
       ['White Clover Markets', '1029 - 12th Ave. S.', 'Seattle', ...,
        '5/1/2018', '5/29/2018', '5/4/2018']],
      shape=(2155, 25), dtype=object)

In [11]:
#muestra los nombres de las columnas
df.columns

Index(['ShipName', 'ShipAddress', 'ShipCity', 'ShipRegion', 'ShipPostalCode',
       'ShipCountry', 'CustomerID', 'CustomerName', 'CustomerAddress',
       'CustomerCity', 'CustomerPostalCode', 'CustomerCountry', 'Salesperson',
       'OrderID', 'ShipperName', 'ProductID', 'ProductName', 'UnitPrice',
       'Quantity', 'Discount', 'ExtendedPrice', 'Freight', 'Order_Date',
       'Required_Date', 'Shipped_Date'],
      dtype='str')

In [12]:
#muetsra el indice
df.index

RangeIndex(start=0, stop=2155, step=1)

### Selección de columnas

In [13]:
#selección
df['ShipCity']

0        Berlin
1        Berlin
2        Berlin
3        Berlin
4        Berlin
         ...
2150    Seattle
2151    Seattle
2152    Seattle
2153    Seattle
2154    Seattle
Name: ShipCity, Length: 2155, dtype: str

In [14]:
#validación tipo de datos
type(df['ShipCity'])

pandas.Series

In [15]:
#selección por indice
df[1:4]

,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry,CustomerID,CustomerName,CustomerAddress,CustomerCity,...,ProductID,ProductName,UnitPrice,Quantity,Discount,ExtendedPrice,Freight,Order_Date,Required_Date,Shipped_Date
1,Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,...,3,Aniseed Syrup,10.0,6,0.0,60.0,23.94,10/13/2017,11/24/2017,10/21/2017
2,Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,...,76,Lakkalikööri,18.0,15,0.0,270.0,23.94,10/13/2017,11/24/2017,10/21/2017
3,Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,...,59,Raclette Courdavault,55.0,15,0.0,825.0,69.53,1/15/2018,2/12/2018,1/21/2018

### Método LOC

In [17]:
#indicar columna índice
df1 = df.set_index('ShipName')

In [20]:
#filtrar filas por indice
df2= df1.loc['QUICK-Stop']
df2

,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry,CustomerID,CustomerName,CustomerAddress,CustomerCity,CustomerPostalCode,...,ProductID,ProductName,UnitPrice,Quantity,Discount,ExtendedPrice,Freight,Order_Date,Required_Date,Shipped_Date
ShipName,,,,,,,,,,,,,,,,,,,,,
QUICK-Stop,Taucherstraße 10,Cunewalde,NaN,01307,Germany,QUICK,QUICK-Stop,Taucherstraße 10,Cunewalde,01307,...,33,Geitost,2.0,20,0.00,40.00,76.07,8/5/2016,9/2/2016,8/12/2016
QUICK-Stop,Taucherstraße 10,Cunewalde,NaN,01307,Germany,QUICK,QUICK-Stop,Taucherstraße 10,Cunewalde,01307,...,35,Steeleye Stout,14.4,100,0.00,1440.00,229.24,8/21/2016,9/18/2016,8/30/2016
QUICK-Stop,Taucherstraße 10,Cunewalde,NaN,01307,Germany,QUICK,QUICK-Stop,Taucherstraße 10,Cunewalde,01307,...,62,Tarte au sucre,39.4,40,0.00,1576.00,229.24,8/21/2016,9/18/2016,8/30/2016
QUICK-Stop,Taucherstraße 10,Cunewalde,NaN,01307,Germany,QUICK,QUICK-Stop,Taucherstraße 10,Cunewalde,01307,...,36,Inlagd Sill,15.2,12,0.00,182.40,1.96,9/24/2016,10/22/2016,10/4/2016
QUICK-Stop,Taucherstraße 10,Cunewalde,NaN,01307,Germany,QUICK,QUICK-Stop,Taucherstraße 10,Cunewalde,01307,...,8,Northwoods Cranberry Sauce,32.0,70,0.00,2240.00,249.06,11/4/2016,12/2/2016,11/11/2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
QUICK-Stop,Taucherstraße 10,Cunewalde,NaN,01307,Germany,QUICK,QUICK-Stop,Taucherstraße 10,Cunewalde,01307,...,43,Ipoh Coffee,46.0,24,0.25,828.00,31.89,3/10/2018,4/7/2018,3/16/2018
QUICK-Stop,Taucherstraße 10,Cunewalde,NaN,01307,Germany,QUICK,QUICK-Stop,Taucherstraße 10,Cunewalde,01307,...,60,Camembert Pierrot,34.0,49,0.25,1249.50,31.89,3/10/2018,4/7/2018,3/16/2018
QUICK-Stop,Taucherstraße 10,Cunewalde,NaN,01307,Germany,QUICK,QUICK-Stop,Taucherstraße 10,Cunewalde,01307,...,71,Flotemysost,21.5,35,0.25,564.38,31.89,3/10/2018,4/7/2018,3/16/2018
QUICK-Stop,Taucherstraße 10,Cunewalde,NaN,01307,Germany,QUICK,QUICK-Stop,Taucherstraße 10,Cunewalde,01307,...,2,Chang,19.0,11,0.25,156.75,297.18,4/14/2018,5/12/2018,4/21/2018
QUICK-Stop,Taucherstraße 10,Cunewalde,NaN,01307,Germany,QUICK,QUICK-Stop,Taucherstraße 10,Cunewalde,01307,...,51,Manjimup Dried Apples,53.0,44,0.25,1749.00,297.18,4/14/2018,5/12/2018,4/21/2018

In [21]:
#seleccionar todas las filas y las columnas específicas
df3 = df.loc[:,['ShipName','ShipperName']]
df3

                  ShipName       ShipperName
0     Alfred's Futterkiste    United Package
1     Alfred's Futterkiste    Speedy Express
2     Alfred's Futterkiste    Speedy Express
3     Alfred's Futterkiste  Federal Shipping
4     Alfred's Futterkiste    Speedy Express
...                    ...               ...
2150  White Clover Markets  Federal Shipping
2151  White Clover Markets  Federal Shipping
2152  White Clover Markets    United Package
2153  White Clover Markets    United Package
2154  White Clover Markets    United Package

[2155 rows x 2 columns]

In [24]:
#reseteando el índice (drop=True elimina los indices repetidos)
df4 = df3.reset_index().sort_index()
df4

      index              ShipName       ShipperName
0         0  Alfred's Futterkiste    United Package
1         1  Alfred's Futterkiste    Speedy Express
2         2  Alfred's Futterkiste    Speedy Express
3         3  Alfred's Futterkiste  Federal Shipping
4         4  Alfred's Futterkiste    Speedy Express
...     ...                   ...               ...
2150   2150  White Clover Markets  Federal Shipping
2151   2151  White Clover Markets  Federal Shipping
2152   2152  White Clover Markets    United Package
2153   2153  White Clover Markets    United Package
2154   2154  White Clover Markets    United Package

[2155 rows x 3 columns]

### Método ILOC

In [25]:
#seleccionar un rango con el indice
df5 = df.iloc[1:100]
df5

,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry,CustomerID,CustomerName,CustomerAddress,CustomerCity,...,ProductID,ProductName,UnitPrice,Quantity,Discount,ExtendedPrice,Freight,Order_Date,Required_Date,Shipped_Date
1,Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,...,3,Aniseed Syrup,10.00,6,0.0,60.0,23.94,10/13/2017,11/24/2017,10/21/2017
2,Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,...,76,Lakkalikööri,18.00,15,0.0,270.0,23.94,10/13/2017,11/24/2017,10/21/2017
3,Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,...,59,Raclette Courdavault,55.00,15,0.0,825.0,69.53,1/15/2018,2/12/2018,1/21/2018
4,Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,...,28,Rössle Sauerkraut,45.60,2,0.0,91.2,40.42,3/16/2018,4/27/2018,3/24/2018
5,Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,...,71,Flotemysost,21.50,20,0.0,430.0,1.21,4/9/2018,5/7/2018,4/13/2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Lehmanns Marktstand,Magazinweg 7,Frankfurt a.M.,NaN,60528,Germany,LEHMS,Lehmanns Marktstand,Magazinweg 7,Frankfurt a.M.,...,72,Mozzarella di Giovanni,27.80,25,0.0,695.0,36.21,4/4/2017,5/2/2017,4/7/2017
96,Lehmanns Marktstand,Magazinweg 7,Frankfurt a.M.,NaN,60528,Germany,LEHMS,Lehmanns Marktstand,Magazinweg 7,Frankfurt a.M.,...,77,Original Frankfurter grüne Soße,10.40,25,0.0,260.0,36.21,4/4/2017,5/2/2017,4/7/2017
97,Lehmanns Marktstand,Magazinweg 7,Frankfurt a.M.,NaN,60528,Germany,LEHMS,Lehmanns Marktstand,Magazinweg 7,Frankfurt a.M.,...,8,Northwoods Cranberry Sauce,40.00,24,0.0,960.0,45.33,4/30/2017,5/28/2017,5/6/2017
98,Lehmanns Marktstand,Magazinweg 7,Frankfurt a.M.,NaN,60528,Germany,LEHMS,Lehmanns Marktstand,Magazinweg 7,Frankfurt a.M.,...,30,Nord-Ost Matjeshering,25.89,10,0.0,258.9,27.94,5/12/2017,6/9/2017,5/14/2017
99,Lehmanns Marktstand,Magazinweg 7,Frankfurt a.M.,NaN,60528,Germany,LEHMS,Lehmanns Marktstand,Magazinweg 7,Frankfurt a.M.,...,31,Gorgonzola Telino,12.50,20,0.0,250.0,58.88,5/14/2017,6/11/2017,6/6/2017

In [26]:
#selección de filas exactas
df5 = df.iloc[['100','200']]
df5

,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry,CustomerID,CustomerName,CustomerAddress,CustomerCity,...,ProductID,ProductName,UnitPrice,Quantity,Discount,ExtendedPrice,Freight,Order_Date,Required_Date,Shipped_Date
100,Lehmanns Marktstand,Magazinweg 7,Frankfurt a.M.,NaN,60528,Germany,LEHMS,Lehmanns Marktstand,Magazinweg 7,Frankfurt a.M.,...,33,Geitost,2.5,30,0.0,75.0,58.88,5/14/2017,6/11/2017,6/6/2017
200,Bon app',"12, rue des Bouchers",Marseille,NaN,13008,France,BONAP,Bon app',"12, rue des Bouchers",Marseille,...,18,Carnarvon Tigers,50.0,30,0.0,1500.0,64.56,3/11/2017,4/8/2017,3/14/2017

In [27]:
#selección de columnas por índice
df5 = df.iloc[:,[0,1]]
df5

                  ShipName          ShipAddress
0     Alfred's Futterkiste        Obere Str. 57
1     Alfred's Futterkiste        Obere Str. 57
2     Alfred's Futterkiste        Obere Str. 57
3     Alfred's Futterkiste        Obere Str. 57
4     Alfred's Futterkiste        Obere Str. 57
...                    ...                  ...
2150  White Clover Markets  1029 - 12th Ave. S.
2151  White Clover Markets  1029 - 12th Ave. S.
2152  White Clover Markets  1029 - 12th Ave. S.
2153  White Clover Markets  1029 - 12th Ave. S.
2154  White Clover Markets  1029 - 12th Ave. S.

[2155 rows x 2 columns]

### Filtrando el DataFrame

In [33]:
#filtro con operadores de comparación básicos
df_fil_1 = df[df['ProductID']>50]
df_fil_1

,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry,CustomerID,CustomerName,CustomerAddress,CustomerCity,...,ProductID,ProductName,UnitPrice,Quantity,Discount,ExtendedPrice,Freight,Order_Date,Required_Date,Shipped_Date
0,Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,...,63,Vegie-spread,43.90,20,0.0,878.00,61.02,10/3/2017,10/31/2017,10/13/2017
2,Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,...,76,Lakkalikööri,18.00,15,0.0,270.00,23.94,10/13/2017,11/24/2017,10/21/2017
3,Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,...,59,Raclette Courdavault,55.00,15,0.0,825.00,69.53,1/15/2018,2/12/2018,1/21/2018
5,Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,...,71,Flotemysost,21.50,20,0.0,430.00,1.21,4/9/2018,5/7/2018,4/13/2018
6,Blauer See Delikatessen,Forsterstr. 57,Mannheim,NaN,68306,Germany,BLAUS,Blauer See Delikatessen,Forsterstr. 57,Mannheim,...,54,Tourtière,7.45,20,0.0,149.00,8.85,4/9/2017,5/7/2017,4/16/2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2137,White Clover Markets,1029 - 12th Ave. S.,Seattle,WA,98124,USA,WHITC,White Clover Markets,305 - 14th Ave. S. Suite 3B,Seattle,...,61,Sirop d'érable,28.50,25,0.0,712.50,59.13,4/11/2017,5/9/2017,4/18/2017
2146,White Clover Markets,1029 - 12th Ave. S.,Seattle,WA,98124,USA,WHITC,White Clover Markets,305 - 14th Ave. S. Suite 3B,Seattle,...,62,Tarte au sucre,49.30,3,0.0,147.90,14.93,1/30/2018,2/27/2018,2/17/2018
2147,White Clover Markets,1029 - 12th Ave. S.,Seattle,WA,98124,USA,WHITC,White Clover Markets,305 - 14th Ave. S. Suite 3B,Seattle,...,58,Escargots de Bourgogne,13.25,15,0.0,198.75,162.95,2/24/2018,3/24/2018,2/27/2018
2148,White Clover Markets,1029 - 12th Ave. S.,Seattle,WA,98124,USA,WHITC,White Clover Markets,305 - 14th Ave. S. Suite 3B,Seattle,...,62,Tarte au sucre,49.30,35,0.0,1725.50,162.95,2/24/2018,3/24/2018,2/27/2018
2151,White Clover Markets,1029 - 12th Ave. S.,Seattle,WA,98124,USA,WHITC,White Clover Markets,305 - 14th Ave. S. Suite 3B,Seattle,...,59,Raclette Courdavault,55.00,30,0.0,1650.00,606.19,4/17/2018,5/15/2018,4/23/2018

In [37]:
#operadores lógicos (and, or, bot, isin)
df_fil_2 = df[(df['ShipName']== 'LILA-Supermercado') & (df['ProductID']== 30)]
df_fil_2

,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry,CustomerID,CustomerName,CustomerAddress,CustomerCity,...,ProductID,ProductName,UnitPrice,Quantity,Discount,ExtendedPrice,Freight,Order_Date,Required_Date,Shipped_Date
1401,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela,LILAS,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,...,30,Nord-Ost Matjeshering,20.70,28,0.25,434.70,148.61,2/28/2017,3/28/2017,3/5/2017
1405,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela,LILAS,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,...,30,Nord-Ost Matjeshering,25.89,4,0.25,77.67,12.91,5/1/2018,5/29/2018,5/14/2018

In [40]:
df_fil_3 = df[df['ShipName'].isin(['LILA-Supermercado','Familia Arquibaldo'])]
df_fil_3

,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry,CustomerID,CustomerName,CustomerAddress,CustomerCity,...,ProductID,ProductName,UnitPrice,Quantity,Discount,ExtendedPrice,Freight,Order_Date,Required_Date,Shipped_Date
1388,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela,LILAS,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,...,7,Uncle Bob's Organic Dried Pears,30.00,15,0.05,427.50,0.93,5/5/2018,6/2/2018,5/14/2018
1389,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela,LILAS,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,...,13,Konbu,6.00,10,0.05,57.00,0.93,5/5/2018,6/2/2018,5/14/2018
1390,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela,LILAS,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,...,11,Queso Cabrales,21.00,20,0.10,378.00,163.97,1/9/2018,2/6/2018,1/13/2018
1391,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela,LILAS,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,...,59,Raclette Courdavault,55.00,40,0.10,1980.00,163.97,1/9/2018,2/6/2018,1/13/2018
1392,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela,LILAS,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,...,77,Original Frankfurter grüne Soße,13.00,15,0.10,175.50,163.97,1/9/2018,2/6/2018,1/13/2018
1393,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela,LILAS,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,...,26,Gumbär Gummibärchen,24.90,50,0.15,1058.25,12.75,10/16/2016,11/13/2016,10/28/2016
1394,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela,LILAS,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,...,72,Mozzarella di Giovanni,27.80,25,0.15,590.75,12.75,10/16/2016,11/13/2016,10/28/2016
1395,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela,LILAS,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,...,12,Queso Manchego La Pastora,38.00,30,0.15,969.00,48.17,5/21/2017,6/18/2017,5/23/2017
1396,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela,LILAS,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,...,23,Tunnbröd,9.00,70,0.15,535.50,48.17,5/21/2017,6/18/2017,5/23/2017
1397,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela,LILAS,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,...,39,Chartreuse verte,18.00,8,0.15,122.40,1.21,2/20/2018,3/20/2018,2/26/2018
1398,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela,LILAS,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,...,10,Ikura,24.80,30,0.20,595.20,34.88,11/19/2016,12/17/2016,12/2/2016
1399,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela,LILAS,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,...,60,Camembert Pierrot,27.20,8,0.20,174.08,34.88,11/19/2016,12/17/2016,12/2/2016
1400,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela,LILAS,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,...,21,Sir Rodney's Scones,8.00,40,0.25,240.00,148.61,2/28/2017,3/28/2017,3/5/2017
1401,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela,LILAS,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,...,30,Nord-Ost Matjeshering,20.70,28,0.25,434.70,148.61,2/28/2017,3/28/2017,3/5/2017
1402,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela,LILAS,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,...,55,Pâté chinois,19.20,60,0.25,864.00,148.61,2/28/2017,3/28/2017,3/5/2017
1403,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela,LILAS,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,...,46,Spegesild,12.00,20,0.25,180.00,73.91,4/3/2018,5/15/2018,4/13/2018
1404,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela,LILAS,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,...,52,Filo Mix,7.00,20,0.25,105.00,73.91,4/3/2018,5/15/2018,4/13/2018
1405,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela,LILAS,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,...,30,Nord-Ost Matjeshering,25.89,4,0.25,77.67,12.91,5/1/2018,5/29/2018,5/14/2018
1406,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela,LILAS,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,...,54,Tourtière,7.45,20,0.25,111.75,12.91,5/1/2018,5/29/2018,5/14/2018
1441,Familia Arquibaldo,"Rua Orós, 92",Sao Paulo,SP,05442-030,Brazil,FAMIA,Familia Arquibaldo,"Rua Orós, 92",Sao Paulo,...,19,Teatime Chocolate Biscuits,7.30,18,0.05,124.83,21.48,1/14/2017,2/11/2017,1/17/2017
1442,Familia Arquibaldo,"Rua Orós, 92",Sao Paulo,SP,05442-030,Brazil,FAMIA,Familia Arquibaldo,"Rua Orós, 92",Sao Paulo,...,53,Perth Pasties,32.80,25,0.05,779.00,176.81,8/29/2017,9/26/2017,9/3/2017
1443,Familia Arquibaldo,"Rua Orós, 92",Sao Paulo,SP,05442-030,Brazil,FAMIA,Familia Arquibaldo,"Rua Orós, 92",Sao Paulo,...,39,Chartreuse verte,14.40,50,0.15,612.00,3.10,11/6/2016,12/4/2016,11/8/2016
1444,Familia Arquibaldo,"Rua Orós, 92",Sao Paulo,SP,05442-030,Brazil,FAMIA,Familia Arquibaldo,"Rua Orós, 92",Sao Paulo,...,75,Rhönbräu Klosterbier,6.20,6,0.15,31.62,3.10,11/6/2016,12/4/2016,11/8/2016
1445,Familia Arquibaldo,"Rua Orós, 92",Sao Paulo,SP,05442-030,Brazil,FAMIA,Familia Arquibaldo,"Rua Orós, 92",Sao Paulo,...,24,Guaraná Fantástica,4.50,10,0.15,38.25,3.53,4/21/2017,5/19/2017,4/24/2017
1446,Familia Arquibaldo,"Rua Orós, 92",Sao Paulo,SP,05442-030,Brazil,FAMIA,Familia Arquibaldo,"Rua Orós, 92",Sao Paulo,...,46,Spegesild,12.00,9,0.15,91.80,3.53,4/21/2017,5/19/2017,4/24/2017
1447,Familia Arquibaldo,"Rua Orós, 92",Sao Paulo,SP,05442-030,Brazil,FAMIA,Familia Arquibaldo,"Rua Orós, 92",Sao Paulo,...,47,Zaanse koeken,9.50,6,0.15,48.45,3.53,4/21/2017,5/19/2017,4/24/2017
1448,Familia Arquibaldo,"Rua Orós, 92",Sao Paulo,SP,05442-030,Brazil,FAMIA,Familia Arquibaldo,"Rua Orós, 92",Sao Paulo,...,60,Camembert Pierrot,34.00,12,0.15,346.80,3.53,4/21/2017,5/19/2017,4/24/2017
1449,Familia Arquibaldo,"Rua Orós, 92",Sao Paulo,SP,05442-030,Brazil,FAMIA,Familia Arquibaldo,"Rua Orós, 92",Sao Paulo,...,75,Rhönbräu Klosterbier,7.75,50,0.20,310.00,3.01,6/26/2017,7/24/2017,7/2/2017
1688,Familia Arquibaldo,"Rua Orós, 92",Sao Paulo,SP,05442-030,Brazil,FAMIA,Familia Arquibaldo,"Rua Orós, 92",Sao Paulo,...,25,NuNuCa Nuß-Nougat-Creme,11.20,10,0.00,112.00,3.10,11/6/2016,12/4/2016,11/8/2016
1689,Familia Arquibaldo,"Rua Orós, 92",Sao Paulo,SP,05442-030,Brazil,FAMIA,Familia Arquibaldo,"Rua Orós, 92",Sao Paulo,...,40,Boston Crab Meat,14.70,4,0.00,58.80,3.10,11/6/2016,12/4/2016,11/8/2016
1690,Familia Arquibaldo,"Rua Orós, 92",Sao Paulo,SP,05442-030,Brazil,FAMIA,Familia Arquibaldo,"Rua Orós, 92",Sao Paulo,...,24,Guaraná Fantástica,3.60,15,0.00,54.00,13.99,12/18/2016,1/1/2017,12/25/2016
1691,Familia Arquibaldo,"Rua Orós, 92",Sao Paulo,SP,05442-030,Brazil,FAMIA,Familia Arquibaldo,"Rua Orós, 92",Sao Paulo,...,34,Sasquatch Ale,11.20,10,0.00,112.00,13.99,12/18/2016,1/1/2017,12/25/2016
1692,Familia Arquibaldo,"Rua Orós, 92",Sao Paulo,SP,05442-030,Brazil,FAMIA,Familia Arquibaldo,"Rua Orós, 92",Sao Paulo,...,33,Geitost,2.00,50,0.00,100.00,21.48,1/14/2017,2/11/2017,1/17/2017
1693,Familia Arquibaldo,"Rua Orós, 92",Sao Paulo,SP,05442-030,Brazil,FAMIA,Familia Arquibaldo,"Rua Orós, 92",Sao Paulo,...,30,Nord-Ost Matjeshering,25.89,30,0.00,776.70,176.81,8/29/2017,9/26/2017,9/3/2017
1694,Familia Arquibaldo,"Rua Orós, 92",Sao Paulo,SP,05442-030,Brazil,FAMIA,Familia Arquibaldo,"Rua Orós, 92",Sao Paulo,...,54,Tourtière,7.45,30,0.00,223.50,176.81,8/29/2017,9/26/2017,9/3/2017
1695,Familia Arquibaldo,"Rua Orós, 92",Sao Paulo,SP,05442-030,Brazil,FAMIA,Familia Arquibaldo,"Rua Orós, 92",Sao Paulo,...,41,Jack's New England Clam Chowder,9.65,12,0.00,115.80,10.83,10/31/2017,11/28/2017,11/5/2017
1696,Familia Arquibaldo,"Rua Orós, 92",Sao Paulo,SP,05442-030,Brazil,FAMIA,Familia Arquibaldo,"Rua Orós, 92",Sao Paulo,...,52,Filo Mix,7.00,4,0.00,28.00,10.83,10/31/2017,11/28/2017,11/5/2017
1697,Familia Arquibaldo,"Rua Orós, 92",Sao Paulo,SP,05442-030,Brazil,FAMIA,Familia Arquibaldo,"Rua Orós, 92",Sao Paulo,...,55,Pâté chinois,24.00,6,0.00,144.00,10.83,10/31/2017,11/28/2017,11/5/2017
1825,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela,LILAS,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,...,15,Genen Shouyu,12.40,20,0.00,248.00,84.81,8/16/2016,9/13/2016,8/23/2016
1826,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela,LILAS,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,...,19,Teatime Chocolate Biscuits,7.30,18,0.00,131.40,84.81,8/16/2016,9/13/2016,8/23/2016
1827,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela,LILAS,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,...,60,Camembert Pierrot,27.20,35,0.00,952.00,84.81,8/16/2016,9/13/2016,8/23/2016
1828,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela,LILAS,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,...,72,Mozzarella di Giovanni,27.80,3,0.00,83.40,84.81,8/16/2016,9/13/2016,8/23/2016
1829,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela,LILAS,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,...,11,Queso Cabrales,16.80,12,0.00,201.60,0.12,9/3/2016,10/1/2016,9/11/2016
1830,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela,LILAS,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,...,16,Pavlova,13.90,30,0.00,417.00,0.12,9/3/2016,10/1/2016,9/11/2016
1831,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela,LILAS,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,...,69,Gudbrandsdalsost,28.80,15,0.00,432.00,0.12,9/3/2016,10/1/2016,9/11/2016
1832,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela,LILAS,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,...,26,Gumbär Gummibärchen,24.90,16,0.00,398.40,34.88,11/19/2016,12/17/2016,12/2/2016
1833,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela,LILAS,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,...,74,Longlife Tofu,8.00,14,0.00,112.00,7.99,12/12/2016,1/9/2017,12/13/2016
1834,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela,LILAS,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,...,28,Rössle Sauerkraut,45.60,20,0.00,912.00,102.02,4/8/2017,5/6/2017,4/16/2017
1835,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela,LILAS,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,...,49,Maxilaku,20.00,25,0.00,500.00,102.02,4/8/2017,5/6/2017,4/16/2017
1836,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela,LILAS,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,...,70,Outback Lager,15.00,35,0.00,525.00,42.13,12/16/2017,12/30/2017,12/25/2017
1837,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela,LILAS,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,...,77,Original Frankfurter grüne Soße,13.00,15,0.00,195.00,42.13,12/16/2017,12/30/2017,12/25/2017
1838,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela,LILAS,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,...,57,Ravioli Angelo,19.50,15,0.00,292.50,163.97,1/9/2018,2/6/2018,1/13/2018
1839,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela,LILAS,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,...,32,Mascarpone Fabioli,32.00,50,0.00,1600.00,73.91,4/3/2018,5/15/2018,4/13/2018

In [45]:
#### np.logical_and, np.logical_or, np.logical_not
df_fil_4 = df[np.logical_and(df['ProductID']>=50, df['ProductID']<=60)]
df_fil_4

,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry,CustomerID,CustomerName,CustomerAddress,CustomerCity,...,ProductID,ProductName,UnitPrice,Quantity,Discount,ExtendedPrice,Freight,Order_Date,Required_Date,Shipped_Date
3,Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,...,59,Raclette Courdavault,55.00,15,0.0,825.00,69.53,1/15/2018,2/12/2018,1/21/2018
6,Blauer See Delikatessen,Forsterstr. 57,Mannheim,NaN,68306,Germany,BLAUS,Blauer See Delikatessen,Forsterstr. 57,Mannheim,...,54,Tourtière,7.45,20,0.0,149.00,8.85,4/9/2017,5/7/2017,4/16/2017
8,Blauer See Delikatessen,Forsterstr. 57,Mannheim,NaN,68306,Germany,BLAUS,Blauer See Delikatessen,Forsterstr. 57,Mannheim,...,57,Ravioli Angelo,19.50,4,0.0,78.00,27.71,6/27/2017,7/25/2017,7/14/2017
16,Blauer See Delikatessen,Forsterstr. 57,Mannheim,NaN,68306,Germany,BLAUS,Blauer See Delikatessen,Forsterstr. 57,Mannheim,...,51,Manjimup Dried Apples,53.00,8,0.0,424.00,44.65,3/17/2018,4/28/2018,3/20/2018
18,Blauer See Delikatessen,Forsterstr. 57,Mannheim,NaN,68306,Germany,BLAUS,Blauer See Delikatessen,Forsterstr. 57,Mannheim,...,60,Camembert Pierrot,34.00,21,0.0,714.00,31.14,4/29/2018,5/27/2018,5/14/2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2107,Split Rail Beer & Ale,P.O. Box 555,Lander,WY,82520,USA,SPLIR,Split Rail Beer & Ale,P.O. Box 555,Lander,...,51,Manjimup Dried Apples,53.00,6,0.0,318.00,36.68,1/8/2018,2/5/2018,1/15/2018
2123,The Cracker Box,55 Grizzly Peak Rd.,Butte,MT,59801,USA,THECR,The Cracker Box,55 Grizzly Peak Rd.,Butte,...,52,Filo Mix,7.00,10,0.0,70.00,14.91,4/6/2018,5/4/2018,4/8/2018
2136,White Clover Markets,1029 - 12th Ave. S.,Seattle,WA,98124,USA,WHITC,White Clover Markets,305 - 14th Ave. S. Suite 3B,Seattle,...,53,Perth Pasties,32.80,10,0.0,328.00,59.13,4/11/2017,5/9/2017,4/18/2017
2147,White Clover Markets,1029 - 12th Ave. S.,Seattle,WA,98124,USA,WHITC,White Clover Markets,305 - 14th Ave. S. Suite 3B,Seattle,...,58,Escargots de Bourgogne,13.25,15,0.0,198.75,162.95,2/24/2018,3/24/2018,2/27/2018
2151,White Clover Markets,1029 - 12th Ave. S.,Seattle,WA,98124,USA,WHITC,White Clover Markets,305 - 14th Ave. S. Suite 3B,Seattle,...,59,Raclette Courdavault,55.00,30,0.0,1650.00,606.19,4/17/2018,5/15/2018,4/23/2018

### Ordenar el DataFrame

In [48]:
#ordenar por multiples columnas, descendente y ascendente
sort= df.sort_values(['ProductID','OrderID'], ascending=[False,True])
sort

,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry,CustomerID,CustomerName,CustomerAddress,CustomerCity,...,ProductID,ProductName,UnitPrice,Quantity,Discount,ExtendedPrice,Freight,Order_Date,Required_Date,Shipped_Date
1781,Wellington Importadora,"Rua do Mercado, 12",Resende,SP,08737-363,Brazil,WELLI,Wellington Importadora,"Rua do Mercado, 12",Resende,...,77,Original Frankfurter grüne Soße,10.4,12,0.00,124.8,13.97,7/15/2016,8/12/2016,7/17/2016
1792,HILARION-Abastos,Carrera 22 con Ave. Carlos Soublette #8-35,San Cristóbal,Táchira,5022,Venezuela,HILAA,HILARION-Abastos,Carrera 22 con Ave. Carlos Soublette #8-35,San Cristóbal,...,77,Original Frankfurter grüne Soße,10.4,15,0.00,156.0,81.91,7/16/2016,8/13/2016,7/22/2016
1681,Comércio Mineiro,"Av. dos Lusíadas, 23",Sao Paulo,SP,05432-043,Brazil,COMMI,Comércio Mineiro,"Av. dos Lusíadas, 23",Sao Paulo,...,77,Original Frankfurter grüne Soße,10.4,10,0.00,104.0,79.70,8/27/2016,9/24/2016,9/3/2016
698,Galería del gastronómo,"Rambla de Cataluña, 23",Barcelona,NaN,8022,Spain,GALED,Galería del gastrónomo,"Rambla de Cataluña, 23",Barcelona,...,77,Original Frankfurter grüne Soße,10.4,5,0.00,52.0,10.14,11/28/2016,1/9/2017,12/30/2016
582,Vaffeljernet,Smagsloget 45,Århus,NaN,8200,Denmark,VAFFE,Vaffeljernet,Smagsloget 45,Århus,...,77,Original Frankfurter grüne Soße,10.4,7,0.00,72.8,13.55,11/28/2016,12/26/2016,12/2/2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1061,Wartian Herkku,Torikatu 38,Oulu,NaN,90110,Finland,WARTH,Wartian Herkku,Torikatu 38,Oulu,...,1,Chai,18.0,10,0.10,162.0,29.17,4/15/2018,5/13/2018,4/24/2018
2094,Save-a-lot Markets,187 Suffolk Ln.,Boise,ID,83720,USA,SAVEA,Save-a-lot Markets,187 Suffolk Ln.,Boise,...,1,Chai,18.0,45,0.00,810.0,227.22,4/17/2018,5/15/2018,4/24/2018
776,Suprêmes délices,"Boulevard Tirou, 255",Charleroi,NaN,B-6000,Belgium,SUPRD,Suprêmes délices,"Boulevard Tirou, 255",Charleroi,...,1,Chai,18.0,10,0.00,180.0,0.17,4/20/2018,5/18/2018,4/24/2018
857,Eastern Connection,35 King George,London,NaN,WX3 6FW,UK,EASTC,Eastern Connection,35 King George,London,...,1,Chai,18.0,25,0.25,337.5,46.62,4/24/2018,5/22/2018,5/1/2018
1211,Lehmanns Marktstand,Magazinweg 7,Frankfurt a.M.,NaN,60528,Germany,LEHMS,Lehmanns Marktstand,Magazinweg 7,Frankfurt a.M.,...,1,Chai,18.0,40,0.15,612.0,136.00,5/5/2018,6/2/2018,5/14/2018

In [49]:
#order datos en el indice
sort_1 = df.set_index('ShipName').sort_index()
sort_1

,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry,CustomerID,CustomerName,CustomerAddress,CustomerCity,CustomerPostalCode,...,ProductID,ProductName,UnitPrice,Quantity,Discount,ExtendedPrice,Freight,Order_Date,Required_Date,Shipped_Date
ShipName,,,,,,,,,,,,,,,,,,,,,
Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,12209,...,63,Vegie-spread,43.90,20,0.0,878.0,61.02,10/3/2017,10/31/2017,10/13/2017
Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,12209,...,3,Aniseed Syrup,10.00,6,0.0,60.0,23.94,10/13/2017,11/24/2017,10/21/2017
Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,12209,...,76,Lakkalikööri,18.00,15,0.0,270.0,23.94,10/13/2017,11/24/2017,10/21/2017
Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,12209,...,59,Raclette Courdavault,55.00,15,0.0,825.0,69.53,1/15/2018,2/12/2018,1/21/2018
Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,12209,...,28,Rössle Sauerkraut,45.60,2,0.0,91.2,40.42,3/16/2018,4/27/2018,3/24/2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wolski Zajazd,ul. Filtrowa 68,Warszawa,NaN,01-012,Poland,WOLZA,Wolski Zajazd,ul. Filtrowa 68,Warszawa,01-012,...,60,Camembert Pierrot,34.00,15,0.0,510.0,80.65,7/25/2017,8/22/2017,8/1/2017
Wolski Zajazd,ul. Filtrowa 68,Warszawa,NaN,01-012,Poland,WOLZA,Wolski Zajazd,ul. Filtrowa 68,Warszawa,01-012,...,24,Guaraná Fantástica,4.50,12,0.0,54.0,20.31,4/3/2018,4/17/2018,4/17/2018
Wolski Zajazd,ul. Filtrowa 68,Warszawa,NaN,01-012,Poland,WOLZA,Wolski Zajazd,ul. Filtrowa 68,Warszawa,01-012,...,61,Sirop d'érable,28.50,7,0.0,199.5,20.31,4/3/2018,4/17/2018,4/17/2018
Wolski Zajazd,ul. Filtrowa 68,Warszawa,NaN,01-012,Poland,WOLZA,Wolski Zajazd,ul. Filtrowa 68,Warszawa,01-012,...,74,Longlife Tofu,10.00,20,0.0,200.0,20.31,4/3/2018,4/17/2018,4/17/2018
Wolski Zajazd,ul. Filtrowa 68,Warszawa,NaN,01-012,Poland,WOLZA,Wolski Zajazd,ul. Filtrowa 68,Warszawa,01-012,...,75,Rhönbräu Klosterbier,7.75,30,0.0,232.5,20.31,4/3/2018,4/17/2018,4/17/2018

### Limpieza de datos - Nulos

In [50]:
#visualizar cuales columnas tienen valores nulos
df.isna().any()

ShipName              False
ShipAddress           False
ShipCity              False
ShipRegion             True
ShipPostalCode         True
ShipCountry           False
CustomerID            False
CustomerName          False
CustomerAddress       False
CustomerCity          False
CustomerPostalCode     True
CustomerCountry       False
Salesperson           False
OrderID               False
ShipperName           False
ProductID             False
ProductName           False
UnitPrice             False
Quantity              False
Discount              False
ExtendedPrice         False
Freight               False
Order_Date            False
Required_Date         False
Shipped_Date          False
dtype: bool

In [51]:
#contando la cantidad de valores vacios
df.isnull().sum()

ShipName                 0
ShipAddress              0
ShipCity                 0
ShipRegion            1299
ShipPostalCode          55
ShipCountry              0
CustomerID               0
CustomerName             0
CustomerAddress          0
CustomerCity             0
CustomerPostalCode      55
CustomerCountry          0
Salesperson              0
OrderID                  0
ShipperName              0
ProductID                0
ProductName              0
UnitPrice                0
Quantity                 0
Discount                 0
ExtendedPrice            0
Freight                  0
Order_Date               0
Required_Date            0
Shipped_Date             0
dtype: int64

In [52]:
#eliminar elementos vacios
df_nul = df.dropna()
df_nul

,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry,CustomerID,CustomerName,CustomerAddress,CustomerCity,...,ProductID,ProductName,UnitPrice,Quantity,Discount,ExtendedPrice,Freight,Order_Date,Required_Date,Shipped_Date
1299,Around the Horn,Brook Farm Stratford St. Mary,Colchester,Essex,CO7 6JX,UK,AROUT,Around the Horn,120 Hanover Sq.,London,...,24,Guaraná Fantástica,3.60,25,0.0,90.00,41.95,11/15/2016,12/13/2016,11/20/2016
1300,Around the Horn,Brook Farm Stratford St. Mary,Colchester,Essex,CO7 6JX,UK,AROUT,Around the Horn,120 Hanover Sq.,London,...,57,Ravioli Angelo,15.60,25,0.0,390.00,41.95,11/15/2016,12/13/2016,11/20/2016
1301,Around the Horn,Brook Farm Stratford St. Mary,Colchester,Essex,CO7 6JX,UK,AROUT,Around the Horn,120 Hanover Sq.,London,...,13,Konbu,4.80,20,0.0,96.00,34.24,12/16/2016,1/13/2017,12/18/2016
1302,Around the Horn,Brook Farm Stratford St. Mary,Colchester,Essex,CO7 6JX,UK,AROUT,Around the Horn,120 Hanover Sq.,London,...,50,Valkoinen suklaa,13.00,15,0.0,195.00,34.24,12/16/2016,1/13/2017,12/18/2016
1303,Around the Horn,Brook Farm Stratford St. Mary,Colchester,Essex,CO7 6JX,UK,AROUT,Around the Horn,120 Hanover Sq.,London,...,56,Gnocchi di nonna Alice,30.40,20,0.0,608.00,34.24,12/16/2016,1/13/2017,12/18/2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2150,White Clover Markets,1029 - 12th Ave. S.,Seattle,WA,98124,USA,WHITC,White Clover Markets,305 - 14th Ave. S. Suite 3B,Seattle,...,38,Côte de Blaye,263.50,25,0.0,6587.50,606.19,4/17/2018,5/15/2018,4/23/2018
2151,White Clover Markets,1029 - 12th Ave. S.,Seattle,WA,98124,USA,WHITC,White Clover Markets,305 - 14th Ave. S. Suite 3B,Seattle,...,59,Raclette Courdavault,55.00,30,0.0,1650.00,606.19,4/17/2018,5/15/2018,4/23/2018
2152,White Clover Markets,1029 - 12th Ave. S.,Seattle,WA,98124,USA,WHITC,White Clover Markets,305 - 14th Ave. S. Suite 3B,Seattle,...,16,Pavlova,17.45,3,0.0,52.35,44.72,5/1/2018,5/29/2018,5/4/2018
2153,White Clover Markets,1029 - 12th Ave. S.,Seattle,WA,98124,USA,WHITC,White Clover Markets,305 - 14th Ave. S. Suite 3B,Seattle,...,19,Teatime Chocolate Biscuits,9.20,42,0.0,386.40,44.72,5/1/2018,5/29/2018,5/4/2018
2154,White Clover Markets,1029 - 12th Ave. S.,Seattle,WA,98124,USA,WHITC,White Clover Markets,305 - 14th Ave. S. Suite 3B,Seattle,...,34,Sasquatch Ale,14.00,35,0.0,490.00,44.72,5/1/2018,5/29/2018,5/4/2018

In [53]:
#reemplazar valores vacios con 0
df_0 = df.fillna(0)
df_0

,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry,CustomerID,CustomerName,CustomerAddress,CustomerCity,...,ProductID,ProductName,UnitPrice,Quantity,Discount,ExtendedPrice,Freight,Order_Date,Required_Date,Shipped_Date
0,Alfred's Futterkiste,Obere Str. 57,Berlin,0,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,...,63,Vegie-spread,43.90,20,0.0,878.00,61.02,10/3/2017,10/31/2017,10/13/2017
1,Alfred's Futterkiste,Obere Str. 57,Berlin,0,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,...,3,Aniseed Syrup,10.00,6,0.0,60.00,23.94,10/13/2017,11/24/2017,10/21/2017
2,Alfred's Futterkiste,Obere Str. 57,Berlin,0,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,...,76,Lakkalikööri,18.00,15,0.0,270.00,23.94,10/13/2017,11/24/2017,10/21/2017
3,Alfred's Futterkiste,Obere Str. 57,Berlin,0,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,...,59,Raclette Courdavault,55.00,15,0.0,825.00,69.53,1/15/2018,2/12/2018,1/21/2018
4,Alfred's Futterkiste,Obere Str. 57,Berlin,0,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,...,28,Rössle Sauerkraut,45.60,2,0.0,91.20,40.42,3/16/2018,4/27/2018,3/24/2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2150,White Clover Markets,1029 - 12th Ave. S.,Seattle,WA,98124,USA,WHITC,White Clover Markets,305 - 14th Ave. S. Suite 3B,Seattle,...,38,Côte de Blaye,263.50,25,0.0,6587.50,606.19,4/17/2018,5/15/2018,4/23/2018
2151,White Clover Markets,1029 - 12th Ave. S.,Seattle,WA,98124,USA,WHITC,White Clover Markets,305 - 14th Ave. S. Suite 3B,Seattle,...,59,Raclette Courdavault,55.00,30,0.0,1650.00,606.19,4/17/2018,5/15/2018,4/23/2018
2152,White Clover Markets,1029 - 12th Ave. S.,Seattle,WA,98124,USA,WHITC,White Clover Markets,305 - 14th Ave. S. Suite 3B,Seattle,...,16,Pavlova,17.45,3,0.0,52.35,44.72,5/1/2018,5/29/2018,5/4/2018
2153,White Clover Markets,1029 - 12th Ave. S.,Seattle,WA,98124,USA,WHITC,White Clover Markets,305 - 14th Ave. S. Suite 3B,Seattle,...,19,Teatime Chocolate Biscuits,9.20,42,0.0,386.40,44.72,5/1/2018,5/29/2018,5/4/2018
2154,White Clover Markets,1029 - 12th Ave. S.,Seattle,WA,98124,USA,WHITC,White Clover Markets,305 - 14th Ave. S. Suite 3B,Seattle,...,34,Sasquatch Ale,14.00,35,0.0,490.00,44.72,5/1/2018,5/29/2018,5/4/2018

In [56]:
#reemplazamos 0 a nulos
df_0.replace(0,np.nan, inplace=True)
df_0

,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry,CustomerID,CustomerName,CustomerAddress,CustomerCity,...,ProductID,ProductName,UnitPrice,Quantity,Discount,ExtendedPrice,Freight,Order_Date,Required_Date,Shipped_Date
0,Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,...,63,Vegie-spread,43.90,20,NaN,878.00,61.02,10/3/2017,10/31/2017,10/13/2017
1,Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,...,3,Aniseed Syrup,10.00,6,NaN,60.00,23.94,10/13/2017,11/24/2017,10/21/2017
2,Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,...,76,Lakkalikööri,18.00,15,NaN,270.00,23.94,10/13/2017,11/24/2017,10/21/2017
3,Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,...,59,Raclette Courdavault,55.00,15,NaN,825.00,69.53,1/15/2018,2/12/2018,1/21/2018
4,Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany,ALFKI,Alfreds Futterkiste,Obere Str. 57,Berlin,...,28,Rössle Sauerkraut,45.60,2,NaN,91.20,40.42,3/16/2018,4/27/2018,3/24/2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2150,White Clover Markets,1029 - 12th Ave. S.,Seattle,WA,98124,USA,WHITC,White Clover Markets,305 - 14th Ave. S. Suite 3B,Seattle,...,38,Côte de Blaye,263.50,25,NaN,6587.50,606.19,4/17/2018,5/15/2018,4/23/2018
2151,White Clover Markets,1029 - 12th Ave. S.,Seattle,WA,98124,USA,WHITC,White Clover Markets,305 - 14th Ave. S. Suite 3B,Seattle,...,59,Raclette Courdavault,55.00,30,NaN,1650.00,606.19,4/17/2018,5/15/2018,4/23/2018
2152,White Clover Markets,1029 - 12th Ave. S.,Seattle,WA,98124,USA,WHITC,White Clover Markets,305 - 14th Ave. S. Suite 3B,Seattle,...,16,Pavlova,17.45,3,NaN,52.35,44.72,5/1/2018,5/29/2018,5/4/2018
2153,White Clover Markets,1029 - 12th Ave. S.,Seattle,WA,98124,USA,WHITC,White Clover Markets,305 - 14th Ave. S. Suite 3B,Seattle,...,19,Teatime Chocolate Biscuits,9.20,42,NaN,386.40,44.72,5/1/2018,5/29/2018,5/4/2018
2154,White Clover Markets,1029 - 12th Ave. S.,Seattle,WA,98124,USA,WHITC,White Clover Markets,305 - 14th Ave. S. Suite 3B,Seattle,...,34,Sasquatch Ale,14.00,35,NaN,490.00,44.72,5/1/2018,5/29/2018,5/4/2018

### Agrupar datos

In [59]:
#agrupación básico con una variable y su agregación
df_group = df.groupby('ShipName')['Quantity'].mean()
df_group

ShipName
Alfred's Futterkiste                  15.111111
Alfreds Futterkiste                   12.666667
Ana Trujillo Emparedados y helados     6.300000
Antonio Moreno Taquería               21.117647
Around the Horn                       21.666667
                                        ...
Wartian Herkku                        19.918919
Wellington Importadora                14.052632
White Clover Markets                  26.575000
Wilman Kala                            8.705882
Wolski Zajazd                         12.812500
Name: Quantity, Length: 90, dtype: float64

In [61]:
#diferentes funciones de agregación  median(), value_counts(normalize = True)
df_group1 = df.groupby('ShipName')['Quantity'].agg([min,max,sum,np.mean])
df_group1

                                    min  max   sum       mean
ShipName
Alfred's Futterkiste                  2   40   136  15.111111
Alfreds Futterkiste                   2   21    38  12.666667
Ana Trujillo Emparedados y helados    1   10    63   6.300000
Antonio Moreno Taquería               4   50   359  21.117647
Around the Horn                       3   50   650  21.666667
...                                 ...  ...   ...        ...
Wartian Herkku                        3   50   737  19.918919
Wellington Importadora                2   24   267  14.052632
White Clover Markets                  2   70  1063  26.575000
Wilman Kala                           2   20   148   8.705882
Wolski Zajazd                         2   30   205  12.812500

[90 rows x 4 columns]

### Tablas dinámicas

In [63]:
#agregar una nueva columna calculada
df['SalesAmount']= df['Quantity'] *  df['UnitPrice']

#creando la tabla dinámica
pivot_table = df.pivot_table(
    'SalesAmount', index= 'ShipCountry', columns= 'ShipperName',
    aggfunc=[np.median,np.sum])
pivot_table

                      median                                            sum  \
ShipperName Federal Shipping Speedy Express United Package Federal Shipping
ShipCountry
Argentina            155.000         186.60          180.0          1210.30
Austria              650.000         600.00          651.0         46566.45
Belgium              456.000         477.40          420.0         11592.80
Brazil               340.000         285.00          341.0         17434.92
Canada               315.000         600.00          496.0         20605.50
Denmark              342.500         471.25          539.0         18874.00
Finland              193.000         238.00          373.5          5171.35
France               283.000         280.00          285.0         29968.40
Germany              500.000         525.00          432.0         55359.20
Ireland              541.000         600.00          672.0         11743.55
Italy                440.125         200.00          185.0          4478.45
Mexico               230.000         198.15          223.2         10213.05
Norway               500.000         100.00          258.0           500.00
Poland               173.250         591.60          199.5          1446.35
Portugal             360.000         130.00          288.0          5898.25
Spain                181.000          90.00          340.0          6609.80
Sweden               375.750         310.00          300.0         15555.05
Switzerland          465.100         428.00          306.0         14096.26
UK                   239.700         318.00          300.0         19790.40
USA                  475.000         406.80          344.0         96295.94
Venezuela            300.000         398.75          360.0         14340.80


ShipperName Speedy Express United Package
ShipCountry
Argentina          1816.20        5092.60
Austria           45125.33       47804.85
Belgium            5370.18       18172.00
Brazil            38308.33       59225.23
Canada             5777.80       28950.80
Denmark            6777.70        9130.55
Finland            6246.90        8360.20
France            22080.30       33450.06
Germany          101944.20       87337.23
Ireland            8357.60       37216.24
Italy              8213.50        4013.20
Mexico             4333.80        9526.60
Norway              200.00        5035.15
Poland              591.60        1494.00
Portugal           1099.70        5470.70
Spain              2978.60        9843.49
Sweden            16471.00       27497.65
Switzerland        6356.20       12467.04
UK                13145.61       27680.50
USA               56867.55      110403.49
Venezuela         21921.09       24553.00

In [64]:
#rellenar los valores vacíos y agregar los totales
pivot_table1 = df.pivot_table(
    'SalesAmount', index= 'ShipCountry', columns= 'ShipperName',
    aggfunc=[np.median,np.sum],fill_value=0, margins= True)
pivot_table1

                      median                                         \
ShipperName Federal Shipping Speedy Express United Package      All
ShipCountry
Argentina            155.000         186.60          180.0  180.000
Austria              650.000         600.00          651.0  650.000
Belgium              456.000         477.40          420.0  450.000
Brazil               340.000         285.00          341.0  315.000
Canada               315.000         600.00          496.0  396.800
Denmark              342.500         471.25          539.0  368.250
Finland              193.000         238.00          373.5  269.000
France               283.000         280.00          285.0  282.500
Germany              500.000         525.00          432.0  484.125
Ireland              541.000         600.00          672.0  608.000
Italy                440.125         200.00          185.0  200.000
Mexico               230.000         198.15          223.2  216.600
Norway               500.000         100.00          258.0  246.000
Poland               173.250         591.60          199.5  190.000
Portugal             360.000         130.00          288.0  301.875
Spain                181.000          90.00          340.0  198.500
Sweden               375.750         310.00          300.0  320.000
Switzerland          465.100         428.00          306.0  401.600
UK                   239.700         318.00          300.0  288.000
USA                  475.000         406.80          344.0  394.000
Venezuela            300.000         398.75          360.0  348.000
All                  360.000         370.25          360.0  360.000

                         sum
ShipperName Federal Shipping Speedy Express United Package         All
ShipCountry
Argentina            1210.30        1816.20        5092.60     8119.10
Austria             46566.45       45125.33       47804.85   139496.63
Belgium             11592.80        5370.18       18172.00    35134.98
Brazil              17434.92       38308.33       59225.23   114968.48
Canada              20605.50        5777.80       28950.80    55334.10
Denmark             18874.00        6777.70        9130.55    34782.25
Finland              5171.35        6246.90        8360.20    19778.45
France              29968.40       22080.30       33450.06    85498.76
Germany             55359.20      101944.20       87337.23   244640.63
Ireland             11743.55        8357.60       37216.24    57317.39
Italy                4478.45        8213.50        4013.20    16705.15
Mexico              10213.05        4333.80        9526.60    24073.45
Norway                500.00         200.00        5035.15     5735.15
Poland               1446.35         591.60        1494.00     3531.95
Portugal             5898.25        1099.70        5470.70    12468.65
Spain                6609.80        2978.60        9843.49    19431.89
Sweden              15555.05       16471.00       27497.65    59523.70
Switzerland         14096.26        6356.20       12467.04    32919.50
UK                  19790.40       13145.61       27680.50    60616.51
USA                 96295.94       56867.55      110403.49   263566.98
Venezuela           14340.80       21921.09       24553.00    60814.89
All                407750.82      373983.19      572724.58  1354458.59

In [79]:

dft= pd.read_csv(r'C:\Users\Outlet\Desktop\Nueva carpeta\BDTienda.csv',sep=',',header=0, index_col=False, encoding='latin-1',engine='python')
dft

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,42433,AG-2011-2040,1/1/2011,6/1/2011,Standard Class,TB-11280,Toby Braunhardt,Consumer,Constantine,Constantine,...,OFF-TEN-10000025,Office Supplies,Storage,"Tenex Lockers, Blue",408.300,2,0.0,106.1400,35.46,Medium
1,22253,IN-2011-47883,1/1/2011,8/1/2011,Standard Class,JH-15985,Joseph Holt,Consumer,Wagga Wagga,New South Wales,...,OFF-SU-10000618,Office Supplies,Supplies,"Acme Trimmer, High Speed",120.366,3,0.1,36.0360,9.72,Medium
2,48883,HU-2011-1220,1/1/2011,5/1/2011,Second Class,AT-735,Annie Thurman,Consumer,Budapest,Budapest,...,OFF-TEN-10001585,Office Supplies,Storage,"Tenex Box, Single Width",66.120,4,0.0,29.6400,8.17,High
3,11731,IT-2011-3647632,1/1/2011,5/1/2011,Second Class,EM-14140,Eugene Moren,Home Office,Stockholm,Stockholm,...,OFF-PA-10001492,Office Supplies,Paper,"Enermax Note Cards, Premium",44.865,3,0.5,-26.0550,4.82,High
4,22255,IN-2011-47883,1/1/2011,8/1/2011,Standard Class,JH-15985,Joseph Holt,Consumer,Wagga Wagga,New South Wales,...,FUR-FU-10003447,Furniture,Furnishings,"Eldon Light Bulb, Duo Pack",113.670,5,0.1,37.7700,4.70,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,32593,CA-2014-115427,31-12-2014,4/1/2015,Standard Class,EB-13975,Erica Bern,Corporate,Fairfield,California,...,OFF-BI-10002103,Office Supplies,Binders,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",13.904,2,0.2,4.5188,0.89,Medium
51286,47594,MO-2014-2560,31-12-2014,5/1/2015,Standard Class,LP-7095,Liz Preis,Consumer,Agadir,Souss-Massa-Draâ,...,OFF-WIL-10001069,Office Supplies,Binders,"Wilson Jones Hole Reinforcements, Clear",3.990,1,0.0,0.4200,0.49,Medium
51287,8857,MX-2014-110527,31-12-2014,2/1/2015,Second Class,CM-12190,Charlotte Melton,Consumer,Managua,Managua,...,OFF-LA-10004182,Office Supplies,Labels,"Hon Color Coded Labels, 5000 Label Set",26.400,3,0.0,12.3600,0.35,Medium
51288,6852,MX-2014-114783,31-12-2014,6/1/2015,Standard Class,TD-20995,Tamara Dahlen,Consumer,Juárez,Chihuahua,...,OFF-LA-10000413,Office Supplies,Labels,"Hon Legal Exhibit Labels, Alphabetical",7.120,1,0.0,0.5600,0.20,Medium
51289,36388,CA-2014-156720,31-12-2014,4/1/2015,Standard Class,JM-15580,Jill Matthias,Consumer,Loveland,Colorado,...,OFF-FA-10003472,Office Supplies,Fasteners,Bagged Rubber Bands,3.024,3,0.2,-0.6048,0.17,Medium

In [82]:
#especificar columna como fecha

dft['Order Date'] = pd.to_datetime(dft['Order Date'], dayfirst=True, errors='coerce')
dft['Ship Date'] = pd.to_datetime(dft['Ship Date'], dayfirst=True, errors='coerce')

print(dft[['Order Date', 'Ship Date']].head())

  Order Date  Ship Date
0 2011-01-01 2011-01-06
1 2011-01-01 2011-01-08
2 2011-01-01 2011-01-05
3 2011-01-01 2011-01-05
4 2011-01-01 2011-01-08

In [88]:
#personalizar formato de fecha
dft['Order_date'] = dft['Order Date'].dt.strftime('%d-%m-%Y')
dft

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,Despacho,Order_date
0,42433,AG-2011-2040,2011-01-01,2011-01-06,Standard Class,TB-11280,Toby Braunhardt,Consumer,Constantine,Constantine,...,Storage,"Tenex Lockers, Blue",408.300,2,0.0,106.1400,35.46,Medium,5 days,01-01-2011
1,22253,IN-2011-47883,2011-01-01,2011-01-08,Standard Class,JH-15985,Joseph Holt,Consumer,Wagga Wagga,New South Wales,...,Supplies,"Acme Trimmer, High Speed",120.366,3,0.1,36.0360,9.72,Medium,7 days,01-01-2011
2,48883,HU-2011-1220,2011-01-01,2011-01-05,Second Class,AT-735,Annie Thurman,Consumer,Budapest,Budapest,...,Storage,"Tenex Box, Single Width",66.120,4,0.0,29.6400,8.17,High,4 days,01-01-2011
3,11731,IT-2011-3647632,2011-01-01,2011-01-05,Second Class,EM-14140,Eugene Moren,Home Office,Stockholm,Stockholm,...,Paper,"Enermax Note Cards, Premium",44.865,3,0.5,-26.0550,4.82,High,4 days,01-01-2011
4,22255,IN-2011-47883,2011-01-01,2011-01-08,Standard Class,JH-15985,Joseph Holt,Consumer,Wagga Wagga,New South Wales,...,Furnishings,"Eldon Light Bulb, Duo Pack",113.670,5,0.1,37.7700,4.70,Medium,7 days,01-01-2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,32593,CA-2014-115427,NaT,2015-01-04,Standard Class,EB-13975,Erica Bern,Corporate,Fairfield,California,...,Binders,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",13.904,2,0.2,4.5188,0.89,Medium,NaT,NaN
51286,47594,MO-2014-2560,NaT,2015-01-05,Standard Class,LP-7095,Liz Preis,Consumer,Agadir,Souss-Massa-Draâ,...,Binders,"Wilson Jones Hole Reinforcements, Clear",3.990,1,0.0,0.4200,0.49,Medium,NaT,NaN
51287,8857,MX-2014-110527,NaT,2015-01-02,Second Class,CM-12190,Charlotte Melton,Consumer,Managua,Managua,...,Labels,"Hon Color Coded Labels, 5000 Label Set",26.400,3,0.0,12.3600,0.35,Medium,NaT,NaN
51288,6852,MX-2014-114783,NaT,2015-01-06,Standard Class,TD-20995,Tamara Dahlen,Consumer,Juárez,Chihuahua,...,Labels,"Hon Legal Exhibit Labels, Alphabetical",7.120,1,0.0,0.5600,0.20,Medium,NaT,NaN
51289,36388,CA-2014-156720,NaT,2015-01-04,Standard Class,JM-15580,Jill Matthias,Consumer,Loveland,Colorado,...,Fasteners,Bagged Rubber Bands,3.024,3,0.2,-0.6048,0.17,Medium,NaT,NaN

In [91]:
#agrupar por fecha
dft.resample('ME', on='Ship Date')['Sales'].mean()

Ship Date
2011-01-31    299.744098
2011-02-28    201.074138
2011-03-31    242.060762
2011-04-30    221.290312
2011-05-31    216.135187
2011-06-30    261.364082
2011-07-31    211.093045
2011-08-31    220.232526
2011-09-30    288.716858
2011-10-31    253.824563
2011-11-30    270.258058
2011-12-31    241.491636
2012-01-31    214.424670
2012-02-29    271.907393
2012-03-31    246.808989
2012-04-30    209.978539
2012-05-31    230.430297
2012-06-30    218.675591
2012-07-31    236.799975
2012-08-31    270.621560
2012-09-30    257.495327
2012-10-31    251.648860
2012-11-30    233.038179
2012-12-31    254.904948
2013-01-31    285.488618
2013-02-28    288.837431
2013-03-31    309.381249
2013-04-30    227.465380
2013-05-31    222.692351
2013-06-30    281.857200
2013-07-31    267.072241
2013-08-31    210.101252
2013-09-30    210.542007
2013-10-31    284.447682
2013-11-30    210.385727
2013-12-31    266.510325
2014-01-31    269.051937
2014-02-28    249.524935
2014-03-31    188.925883
2014-04-30    224.995974
2014-05-31    211.872688
2014-06-30    234.883468
2014-07-31    245.121249
2014-08-31    270.983954
2014-09-30    241.557776
2014-10-31    241.227414
2014-11-30    233.020433
2014-12-31    242.579066
2015-01-31    210.272081
Name: Sales, dtype: float64

In [100]:
#extrayendo datos a partir de fechas
#nombre del día
dft['dia'] = pd.to_datetime(dft['Ship Date']).dt.day_name()

#año
dft['anio'] = pd.to_datetime(dft['Ship Date']).dt.year

#mes
dft['mes'] = pd.to_datetime(dft['Ship Date']).dt.month_name()

dft

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Quantity,Discount,Profit,Shipping Cost,Order Priority,Despacho,Order_date,dia,anio,mes
0,42433,AG-2011-2040,2011-01-01,2011-01-06,Standard Class,TB-11280,Toby Braunhardt,Consumer,Constantine,Constantine,...,2,0.0,106.1400,35.46,Medium,5 days,01-01-2011,Thursday,2011.0,January
1,22253,IN-2011-47883,2011-01-01,2011-01-08,Standard Class,JH-15985,Joseph Holt,Consumer,Wagga Wagga,New South Wales,...,3,0.1,36.0360,9.72,Medium,7 days,01-01-2011,Saturday,2011.0,January
2,48883,HU-2011-1220,2011-01-01,2011-01-05,Second Class,AT-735,Annie Thurman,Consumer,Budapest,Budapest,...,4,0.0,29.6400,8.17,High,4 days,01-01-2011,Wednesday,2011.0,January
3,11731,IT-2011-3647632,2011-01-01,2011-01-05,Second Class,EM-14140,Eugene Moren,Home Office,Stockholm,Stockholm,...,3,0.5,-26.0550,4.82,High,4 days,01-01-2011,Wednesday,2011.0,January
4,22255,IN-2011-47883,2011-01-01,2011-01-08,Standard Class,JH-15985,Joseph Holt,Consumer,Wagga Wagga,New South Wales,...,5,0.1,37.7700,4.70,Medium,7 days,01-01-2011,Saturday,2011.0,January
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,32593,CA-2014-115427,NaT,2015-01-04,Standard Class,EB-13975,Erica Bern,Corporate,Fairfield,California,...,2,0.2,4.5188,0.89,Medium,NaT,NaN,Sunday,2015.0,January
51286,47594,MO-2014-2560,NaT,2015-01-05,Standard Class,LP-7095,Liz Preis,Consumer,Agadir,Souss-Massa-Draâ,...,1,0.0,0.4200,0.49,Medium,NaT,NaN,Monday,2015.0,January
51287,8857,MX-2014-110527,NaT,2015-01-02,Second Class,CM-12190,Charlotte Melton,Consumer,Managua,Managua,...,3,0.0,12.3600,0.35,Medium,NaT,NaN,Friday,2015.0,January
51288,6852,MX-2014-114783,NaT,2015-01-06,Standard Class,TD-20995,Tamara Dahlen,Consumer,Juárez,Chihuahua,...,1,0.0,0.5600,0.20,Medium,NaT,NaN,Tuesday,2015.0,January
51289,36388,CA-2014-156720,NaT,2015-01-04,Standard Class,JM-15580,Jill Matthias,Consumer,Loveland,Colorado,...,3,0.2,-0.6048,0.17,Medium,NaT,NaN,Sunday,2015.0,January

### Unir DataFrames concat

In [103]:
ap1= pd.read_csv(r'C:\Users\Outlet\Desktop\Nueva carpeta\vta_2013.csv',sep=',',header=0, index_col=False, encoding='latin-1',engine='python')
ap2= pd.read_csv(r'C:\Users\Outlet\Desktop\Nueva carpeta\vta_2014.csv',sep=',',header=0, index_col=False, encoding='latin-1',engine='python')

In [145]:
#concatenar a nivel fila
ap3 = pd.concat([ap1, ap2],ignore_index =True, axis=0)
ap3

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,22265,ID-2013-37383,1/1/2013,4/1/2013,First Class,MY-18295,Muhammed Yedwab,Corporate,Albury,New South Wales,...,TEC-CO-10002379,Technology,Copiers,"Canon Copy Machine, Digital",1649.214,7,0.1,36.6240,178.71,Medium
1,22618,IN-2013-47960,1/1/2013,6/1/2013,Standard Class,JE-15715,Joe Elijah,Consumer,Tianjin,Tianjin,...,FUR-BO-10003549,Furniture,Bookcases,"Sauder Floating Shelf Set, Metal",1358.280,7,0.0,203.7000,155.15,Medium
2,22268,ID-2013-37383,1/1/2013,4/1/2013,First Class,MY-18295,Muhammed Yedwab,Corporate,Albury,New South Wales,...,TEC-AC-10001500,Technology,Accessories,"Logitech Memory Card, Erganomic",728.568,8,0.1,-32.4720,143.97,Medium
3,22615,IN-2013-47960,1/1/2013,6/1/2013,Standard Class,JE-15715,Joe Elijah,Consumer,Tianjin,Tianjin,...,FUR-BO-10004541,Furniture,Bookcases,"Dania Library with Doors, Mobile",2189.520,6,0.0,372.0600,102.05,Medium
4,22617,IN-2013-47960,1/1/2013,6/1/2013,Standard Class,JE-15715,Joe Elijah,Consumer,Tianjin,Tianjin,...,FUR-BO-10003661,Furniture,Bookcases,"Sauder Floating Shelf Set, Traditional",1362.060,7,0.0,340.4100,90.86,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12267,40784,US-2014-125213,12/12/2014,14-12-2014,First Class,NB-18655,Nona Balk,Corporate,Paterson,New Jersey,...,OFF-FA-10001561,Office Supplies,Fasteners,Stockwell Push Pins,6.540,3,0.0,2.1582,0.34,High
12268,49372,TU-2014-7890,12/12/2014,19-12-2014,Standard Class,JJ-5445,Jennifer Jackson,Consumer,Istanbul,Istanbul,...,OFF-AVE-10002102,Office Supplies,Labels,"Avery File Folder Labels, Adjustable",2.808,1,0.6,-1.6920,0.33,Low
12269,38286,CA-2014-165099,12/12/2014,14-12-2014,First Class,DK-13375,Dennis Kane,Consumer,Abilene,Texas,...,OFF-AP-10001634,Office Supplies,Appliances,Hoover Commercial Lightweight Upright Vacuum,1.392,2,0.8,-3.7584,0.14,High
12270,46811,NI-2014-9730,12/12/2014,16-12-2014,Standard Class,AS-225,Alan Schoenberger,Corporate,Lagos,Lagos,...,OFF-ACC-10000218,Office Supplies,Binders,"Acco Hole Reinforcements, Durable",2.448,1,0.7,-1.9020,0.06,Medium
12271,46812,NI-2014-9730,12/12/2014,16-12-2014,Standard Class,AS-225,Alan Schoenberger,Corporate,Lagos,Lagos,...,OFF-IBI-10002486,Office Supplies,Binders,"Ibico Index Tab, Clear",2.673,1,0.7,-4.6470,0.05,Medium

### Tipos de datos

In [124]:
ap3.dtypes

Row ID              int64
Order ID              str
Order Date            str
Ship Date             str
Ship Mode             str
Customer ID           str
Customer Name         str
Segment               str
City                  str
State                 str
Country               str
Postal Code       float64
Market                str
Region                str
Product ID            str
Category              str
Sub-Category          str
Product Name          str
Sales             float64
Quantity            int64
Discount          float64
Profit            float64
Shipping Cost     float64
Order Priority        str
dtype: object

In [135]:
ap3.dtypes

Row ID                     int64
Order ID                     str
Order Date        datetime64[us]
Ship Date                    str
Ship Mode                    str
Customer ID                  str
Customer Name                str
Segment                      str
City                         str
State                        str
Country                      str
Postal Code              float64
Market                       str
Region                       str
Product ID                   str
Category                     str
Sub-Category                 str
Product Name                 str
Sales                    float64
Quantity                   int64
Discount                 float64
Profit                   float64
Shipping Cost            float64
Order Priority               str
dtype: object

In [138]:
#cambiar formato fecha
ap3['Order Date'] = pd.to_datetime(ap3['Order Date'], dayfirst=True,format='mixed')
ap3['Ship Date'] = pd.to_datetime(ap3['Ship Date'], dayfirst=True,format='mixed')

#cambiar a texto para que no tenga decimales
ap3['Postal Code'] = ap3['Postal Code'].astype(str)

print(ap3.dtypes)

Row ID                     int64
Order ID                     str
Order Date        datetime64[us]
Ship Date         datetime64[us]
Ship Mode                    str
Customer ID                  str
Customer Name                str
Segment                      str
City                         str
State                        str
Country                      str
Postal Code                  str
Market                       str
Region                       str
Product ID                   str
Category                     str
Sub-Category                 str
Product Name                 str
Sales                    float64
Quantity                   int64
Discount                 float64
Profit                   float64
Shipping Cost            float64
Order Priority               str
dtype: object

### Limpieza de datos - duplicados

In [146]:
#ver si hay duplicados
print("Cantidad de filas repetidas:")
print(ap3.duplicated().sum())

Cantidad de filas repetidas:
0

In [150]:
#corregir espacios en blanco
dft['Customer Name'] = dft['Customer Name'].str.strip()